
/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 480px){
    
}


@media only screen and (min-width: 768px){
        
}


@media only screen and (min-width: 1000px){
        
}


@media only screen and (min-width: 1100px){
        
}

    
@media only screen and (min-width: 1250px){
        
}



@media only screen and (min-width: 1300px){
        
}


@media only screen and (min-width : 1599px){
        
}




/*        ****** ******         */
@media only screen and (max-width : 1599px){
        
}


@media only screen and (max-width: 1300px){
        
}


@media only screen and (max-width : 1200px){
    
}


@media only screen and (max-width : 1024px){
    .card-container{
//        transform: translateY(-50%) !important;
    }
    .hint-container__text{
        width: 200px;
    }
}

@media only screen and (max-width : 768px){
    .hint-container__text{
        width: 150px;
    }
    .popover.right{
        margin-left: -268px;
        margin-top: 45px;
        opacity: 0.99;
        width: 300px;
    }
    .popover.right>.arrow{
        margin-top: -37px;
//        opacity: 0.99;
        left: auto;
        right: 10px;
        z-index: 100;
        transform: rotate(90deg);
    }
    .phoneNumber{
        box-shadow: none !important;
        border: 1px solid #ccc !important;
    }
}

@media only screen and (max-width : 630px){
    .hint-container__text{
        width: 125px;
    }
}


@media only screen and (max-width : 580px){
    .hint-container__text{
        width: 105%;
        top: 30px;
        transform: translate(0, 0);
        left: -2.5%;
        box-shadow: 1px 1px 2px 1.5px #777;
        &:after {
            top: -1px;
            margin-top: -5px;
            left: auto;
            right: 13px;
            background: #FFFFFF;
            border-left: 1px solid #999;
            border-bottom: 1px solid #999;
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            opacity: 0.99;
        }
    }
}



@media only screen and (max-width : 480px){
    .card-container{
        margin-top: 20%;
//        transform: translateY(-25%) !important;
    }
}

@media only screen and (max-width : 425px){
    .input-group-btn{
        .dropdown-menu{
            width: 260px;
            max-height: 300px;
        }
    }
    .dropdown-menu>li>a{
        padding-left: 10px;
    }
}


@media only screen and (max-width : 370px){
        
}


@media only screen and (max-width : 350px){
    .card-container{
//        transform: translateY(-20%) !important;
    }
}



/* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        
}


/* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        
}



/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    
}



/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
}



/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
    
}

 

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    
}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (-moz-min-device-pixel-ratio: 1.5) and (-o-min-device-pixel-ratio: 3/2) and (min-device-pixel-ratio: 1.5){
    
}


/* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
        
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
    
}


/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2){
    
}
