/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*@import "compass/reset";*/

/*colors*/
$dark-gray: #ebebeb;
//$border-gray: #d7d7d7;
$border-gray: #cbcbcb;
$light-gray : #f9f9f9;
$light-button : #fafafa;
$red: #fd1f39;
$green: #3ed539;
$dark-blue: #097fd2;
$medium-blue: #3e9ff8;
$medium-blue: #46b4e4;
$sky-blue: #00aeed;
$light-blue: #e5f7fd;
$light-gray-text: #868383;
$dark-gray-text: #474747;

article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{
    display:block;
}

body{
    font-family: "HelveticaNeueCyr-Roman", Arial;
    font-size: 12px;
    background-color: #fff;
    color: $dark-gray-text;
}
.modal-backdrop{
	background-color: #777;
}
button, input[type="submit"], input{
    &:focus, &:hover, &:active, &:visited{
        outline: none !important;
    }
}

h1,h2{
    font-size: 18px;
    font-family: "HelveticaNeueCyr-Medium", Arial;
}
h3{
    font-size: 15px;
    letter-spacing: 0.2px;
}

.Main-container{
	display: block;
	margin: 0 auto;
}

#myModal{
    position: relative;
    text-align: center;
}
.modal-backdrop.fade.in{
	opacity: 0.9;
}
.watermark{
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
	z-index: 1045;
	opacity: 0.95;
	img{
		opacity: 0.96;
	}
}
.modal-active{
	position: absolute;
	top: 0;
	left: 0;
}
.card-container{
	display: block;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
//    zoom: 1;
    margin-top: 10%;
//    transform: translateY(-120%) !important;
	max-width: 300px;
	min-height: 500px;
    border-radius: 5px;
	z-index: 1050;
}

.modal-header, .modal-body, .modal-footer{
    padding-left: 19px;
    padding-right: 19px;
}
.modal-header{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom: 1px solid #d7d7d7;
}
.modal-body{
    padding-bottom: 20px;
    /**/
    /* от нежелательных выпаданий элементов */
//    overflow: hidden;
    overflow: visible;
	&>div{
		padding-bottom: 60px;
	}
	.step-choose-method{
		padding-bottom: 20px;
	}
	.step-finalCheck, .step-payment, .step-shipment, .step-authorization{
		margin-bottom: 20px;
	}
}

.modal-content{
//	outline: 1px solid green;
    background-color: #f9f9f9;
    position: relative;
//	padding-bottom: 50px;
    margin: 0 auto 10px auto;
    min-height: 465px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    /* добавить паддинг из-за футера */
}
.modal-header{
    position: relative;
    background-color: $dark-gray;
}
.modal-header__container{
    display: block;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    background-color: #fff;
	text-align: center;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 #999;
	opacity: 0.99;
}
.modal-header__img{
    display: inline-block;
    top: 50%;
//    left: 50%;
    position: relative;
    transform: translateY(-50%);
//    margin-top: 2px;/* дизайн */
}
.without-img{
    img{
        display: none;
    }
    width: 150px;
    margin-left: -75px;
    text-align: center;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
//    border-bottom: 1px solid #999;
    top: 15px;
    color: #868383;
    letter-spacing: 0.5px;
    font-size: 14px;
    &:after{
        position: absolute;
        width: 50px;
        height: 1px;
        margin: 0 auto;
        left: 50%;
        margin-left: -25px;
        display: block;
        top: 35px;
        background-color: #999;
        content: "";
    }
}
.form-control{
    box-shadow: none !important;
    outline: none !important;
    &:focus, &:active{
        box-shadow: none !important;
        outline: none !important;
        border-color: #ccc !important;
    }
}
input.form-control{
	padding: 8px 5px 6px 10px ;
	font-size: 15px;
}
.modal-title{
    margin-top: 47px;
	margin-bottom: 3px;
    font-family: "HelveticaNeueCyr-Medium", Arial;
    font-size: 18px;
    display: block;
    position: relative;
    text-align: center;
}
.modal-button{
    display: block;
    width: 100%;
    height: 37px;
    text-align: left;
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
    border-radius: 5px;
}
.gradient-bg{
    border: 1px solid $border-gray;
    border-bottom: 2px solid $border-gray;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, #fff 0%, rgba(255,255,255,1) 0%, rgba(245,246,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, #fff), color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,246,245,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, #fff 0%, rgba(255,255,255,1) 0%, rgba(245,246,245,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, #fff 0%, rgba(255,255,255,1) 0%, rgba(245,246,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, #fff 0%, rgba(255,255,255,1) 0%, rgba(245,246,245,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, #fff 0%, rgba(255,255,255,1) 0%, rgba(245,246,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6f5', GradientType=0 );
    &:hover{
        border: 1px solid $border-gray;
        border-bottom: 2px solid $border-gray;
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(233,233,233,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
    }
    &:focus{
        box-shadow: 0 0 2px 1px #d3d3d3;
    }
}


.modal-hint span{
    display: inline-block;
    float: right;
    width: 22px;
    height: 22px;
    position: relative;
    top: -3px;
    background: url(../images/icons.png) -67px 0px no-repeat;
    &:hover{
        cursor: pointer;
    }
}
.hint-container__text{
    display: none;
    margin: 20px 0;
}
.hint-container__text.on{
    display: block;
}
.hint-container{
    position: relative;
}
.hint-container__text{
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 105%;
    margin: 0;
    font-size: 14px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #444;
    width: 100%;
    z-index: 7;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        left: -6px;
        width: 10px;
        height: 10px; 
        background: #FFFFFF;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

.modal-header .close{
    margin-top: 0px;
    margin-right: -7px;
}
.close{
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
}
.close:before{
    position: absolute;
    content: '';
    width: 16px;
    display: block;
    top: 10px;
    left: 5px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: black;
}
.close:after{
    position: absolute;
    content: '';
    width: 16px;
    display: block;
    top: 10px;
    left: 5px;
    height: 2px;
    transform: rotate(45deg);
    background-color: black;
}
.step-back{
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 2px;
    width: 7px;
    height: 12px;
    padding: 10px;
//    outline: 1px solid red;
    background: url(../images/icons.png) -466px 4px no-repeat;
    &:hover{
        cursor: pointer;
    }
}
.submit-button{
    display: block;
    width: 100%;
    border: 1px solid $border-gray;
    border-radius: 5px;
    height: 37px;
    font-size: 15px;
    color: $dark-gray-text;
    font-family: "HelveticaNeueCyr-Roman", Arial;
    border-bottom: 2px solid $border-gray;
}
.send-container{
    position: relative;
}
.send-container.sending{
    input{
        padding-left: 35px;
    }
    &:after{
        position: absolute;
        content: '';
        left: 80px;
        top: 9px;
        width: 20px;
        height: 20px;
        background: url(../images/loading-gif.gif) no-repeat;
    }
}
.load{
    width: 20px;
    height: 20px;
}
.sending{
    margin-top: 10px;
    text-align: center;
    padding-left: 0;
}
.icon-button.sending{
    padding-left: 0;
    img{
        margin-right: 8px;
    }
}


/*стили выбора метода оплаты*/
.step-choose-method{
    display: none;
    display: block;
}
//.step-choose-method.on{
//    display: block;
//}
/* временная активация , деактивация*/
.modal-header{
    padding-bottom: 13px;
}
.modal-title.step-choose-method{
    margin: 50px 0 0 -2px;
}
.step-choose-method h3{
    margin: 8px 0 5px -1px;
}
.step-choose-method .modal-button{
    margin-top: 23px;
}

.step-choose-method .signup-button{
    margin: 23px 0 0px 0;
}
.signup-button{
    position: relative;
    &:before{
        top: 9px;
        left: 12px;
        background: url(../images/icons.png) 0px 0px no-repeat;
        width: 10px;
        height: 16px;
    }
}
.gray-line{
    display: block;
    width: calc(100% + 7.3%);
    position: relative;
    margin: 20px 0 23px 0;
    height: 1px;
    background-color: #e3e3e3;
}
.icon-button{
    padding: 1px 0 0 34px;
    font-size: 15px;
}
.signup-button{
    position: relative;
    &:before, span:before{
        position: absolute;
        display: block;
        content: "";
        top: 9px;
        left: 12px;
    }
}
.messenger-button, .telegram-button, .skype-button{
    width: 172px;
    color: #fff;
    height: 36px;
    line-height: 36px;
    border: none;
    text-align: left;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 13px;
    box-shadow: 0 0 1px 1px #c5c5c5;
    &:hover{
        box-shadow: 0 0 2px 2px #c5c5c5;
        color: #fff;
    }
    i{
        margin-right: 7px;
    }
}
.btn-send-to{
    color: #fff;
    &:hover, &:focus, &:visited, &:active{
        color: #fff;
    }
}
.messenger-button{
    background-color: #0084ff;
    letter-spacing: -0.3px;
    position: relative;
    padding-left: 28px;
    &:before{
        display: block;
        position: absolute;
        content: "";
        width: 18px;
        height: 20px;
        top: 8px;
        left: 10px;
        background: url(../images/icons.png) -12px 0px no-repeat;
    }
}
.step-choose-method .telegram-button{
    margin-top: 5px;
}
.telegram-button{
    color: white;
    background: linear-gradient(rgb(54, 174, 226) 20%, rgb(76, 183, 229) 80%);
    border-color: transparent;
    letter-spacing: 0.1px;
    line-height: 38px;
    &:hover, &:focus, &:visited, &:active{
        background: linear-gradient(rgb(54, 174, 226) 20%, rgb(76, 183, 229) 80%);
        border-color: transparent;
//        box-shadow: 0 0 1px 1px #ccc;
    }
}
.step-choose-method .skype-button{
    margin-top: 10px;
}
.skype-button{
    background-color: $sky-blue;
    letter-spacing: 0.1px;
    i{
        font-size: 18px;
        line-height: 36px;
    }
}



.step-choose-method {
    p{
        margin: 10px 0 0 0;
        font-size: 12px;
    }
    .account-icon{
        i{
            display: inline-block;
            width: 20px;
            margin-right: 5px;
            height: 20px;
            background: url(../images/icon-man.png) 0px 0px no-repeat;
            border-radius: 50%;
        }
        span{
            display: inline-block;
            vertical-align: top;
            line-height: 1.7;
        }
        a{
            display: inline-block;
            vertical-align: top;
            line-height: 1.7;
            margin-left: 10px;
            text-decoration: underline;
            text-decoration-style: dotted;
            color: #969696;
        }
    }
}


/* стили авторизации */
.step-authorization{
    margin-bottom: 3px;
    display: none;
}
//.step-authorization.on{
//    display: block;
//}
.phone-number-form{
    margin-top: 5px;
}
.phone-input-container{
    position: relative;
//    outline: 1px solid red;
}
.phone-number-input{
    padding: 2px 10px 0 8px;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: block;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    height: 36px;
    border: 1px solid $border-gray;
    &:focus, &:active{
        outline: none;
        box-shadow: 0 0 2px 1px #b3e4f6;
        border: 1px solid #27baf0;
    }
    &:hover{
        border: 1px solid #27baf0;
    }
}
.intl-tel-input .country-list{
    max-width: 250px;
}
.intl-tel-input.allow-dropdown{
    width: 100%;
}
input{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#phoneNumber.Valid-class{
	background-color: #e5f7fd;
	background-image: url('../images/checked.svg');
	background-repeat: no-repeat;
	background-position: 122px 7px;
	padding-right: 35px;
}
#phoneNumber.Invalid-class{
	border-color: red !important;
}
.form-control.phoneNumber{
	padding: 2px 10px 0 10px;
}
.valid-check-smsCode-alert{
	display: none;
	outline: none;
	border: none;
	width: 100%;
	background-color: red;
	color: #fff;
	margin: 5px auto 20px auto !important;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
	&:after {
        content: '';
        display: block;
        position: absolute;
        top: 0%;
        margin-top: -5px;
        left: 16px;
        width: 10px;
        height: 10px; 
        background: red;
        border-left: 1px solid #999;
        border-bottom: 1px solid #999;
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    }
}
.phone-helper{
    display: inline-block;
    padding: 0;
    position: absolute;
    height: 36px;
    width: 100px;
    top: 0;
    left: 0;
    select{
        display: inline-block;
        width: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-color: $border-gray;
        border-right: none;
        margin: 0;
        height: 36px;
        position: relative;
        padding: 1px 0 0 30px;
        font-size: 15px;
        &:focus, &:active{
            outline: none;
        }
    }
    option{
        padding-left: 50px;
        position: relative;
        font-size: 14px;
        background-repeat: no-repeat;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }
}
.step-authorization-submit{
    margin-top: 10px;
    line-height: 35px;
}
.step-authorization p{
    margin: 5px 0 0 0;
    font-size: 14px;
    a{
        font-size: 15px;
        color: #097fd2;
        text-decoration: underline;
    }
}

/*ввод смс кода*/
.enter-sms-code{
    p{
        margin-top: 12px;
        letter-spacing: 0.3px;
        line-height: 1.3;
    }
    img{
        margin: 0 10px 0 4px;
        position: relative;
        top: -2px;
    }
    .dont-get-code{
        margin-top: 23px;
		margin-bottom: 20px;
    }
    a{
        margin-left: 2px;
    }
    .sending-process{
        margin-top: 23px;
    }
}
.sms-code-input{
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: 1px solid $border-gray;
    padding: 8px 5px 6px 10px;
    margin: 10px 0 0 0;
    letter-spacing: 0.6px;
    font-size: 15px;
	outline: none !important;
	&:hover, &:active, &:active, &:focus{
		outline: none !important;
	}
}
#btn-country{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-right: none;
    height: 34px;
    line-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    &>.flag{
        line-height: 34px;
        vertical-align: text-bottom;
    }
    .btn-cc{
        
    }
}
.dropdown-menu{
    .flag{
        vertical-align: sub;
    }
}
.popover{
	background-color: #fff;
}
.popover.right>.arrow:after {
	border-right-color: #fff;
}
.popover-content{
    color: #000;
}
.input-phone{
    .form-control{
        height: 34px;
        line-height: 34px;
        font-size: 15px;
        box-shadow: none !important;
        display: table-cell; 
        vertical-align: middle; 
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
}



/* стили футера */
.modal-footer{
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
	padding: 20px 19px;
    button{
        text-align: center;
        padding: 0;
        font-size: 15px;
        line-height: 35px;
		&:active, &:focus, &:hover, &:focus{
			line-height: 35px;
		}
    }
}
.modal-footer.step-authorization{
    margin-bottom: 0;
}



/*  стили шага payment*/
.step-payment{
    display: none;
}
//.step-payment.on{
//    display: block;
//}
h2.step-payment{
    margin: 47px auto 3px auto;
}
.phone-number{
    max-width: 170px;
    position: absolute;
    height: 27px;
	text-decoration: none !important;
    line-height: 27px;
    background-color: #fff;
    z-index: 3;
    bottom: -13px;
    right: auto;
    padding: 0px 10px 0px 10px;
    text-align: center;
    margin: auto;
	left: 50%;
//	margin-left: -25%;
	transform:  translateX(-50%);
    color: $dark-gray-text !important;
    font-size: 15px;
	outline: none !important;
    border-radius: 20px;
    border: 1px solid $border-gray;
	white-space: nowrap;
}

.payment-tabs-container{
    margin-top: 28px;
}
.payment-tabs{
    border: 1px solid #afafaf;
    border-radius: 5px;
    overflow: hidden;
	width: 260px;
	white-space: nowrap;
    letter-spacing: -0.36em;
    li{
        height: 30px;
        line-height: 30px;
        letter-spacing: normal;
        text-align: center;
        width: 86px;
        border-right: 1px solid #afafaf;
        &:nth-child(2){
            a{
                background-image: url("../images/paypal-color.png");
                background-position: 14px 7px;
                background-repeat:  no-repeat;
                width: 100%;
                position: relative;
                top: 0px;
                margin-left: 10px;
                margin: 0;
                height: 30px;
            }
            &.active{
                a{
                    background-image: url("../images/paypal.png");
                    background-position: 12px 6px;
                    background-color: #d5d5d5;
                }
            }
        }
        &:nth-child(3){
            a{
                background-image: url("../images/erip-color.png");
                background-position: 28px 6px;
                background-repeat:  no-repeat;
//                background-size: 20px 40px;
//                width: 60px;
                width: 100%;
                position: relative;
                top: 0px;
                margin-left: 10px;
                margin: 0;
                height: 30px;
            }
            &.active{
                a{
                    background-image: url("../images/erip.png");
                    background-position: 26px 4px;
                    background-color: #d5d5d5;
                }
            }
        }
        &:last-child{
            border-right: none;
        }
        &:first-child.active{
            font-size: 16px;
//            font-weight: bold;
            font-weight: 600;
            font-family: "HelveticaNeueCyr-Bold", Arial;
            text-shadow: 1px 1px 2px #333;
            a{
                background: #d5d5d5;
            }
        }
    }
    &>li{
        margin: 0;
    }
    &>li>a{
//        padding: 0 5px;
        padding: 0;
        color: $dark-gray-text;
        line-height: 31px;
        font-size: 15px;
        display: block;
        margin: 0;
        border: none;
        border-radius: 0px;
//        background-color: #f5f5f5;
//        font-family: "HelveticaNeueCyr-Bold", Arial;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    }
}
.payment-tabs-container__tab-content{
    border-top: 1px transparent;
//    outline: 1px solid brown;
}

/*change bootstrap styles*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
//    border: 1px solid #afafaf;
    color: #fff;
    margin: 0;
    border: none;
    background-color: #d5d5d5;
//    background-color: transparent;
    border-bottom-color: #afafaf;
    border-bottom-color: transparent;
}
//.backToAuthorization{
//    display: none;
//}
//.backToAuthorization.on{
//    display: block;
//}
.payment-tabs > li {
	overflow: hidden;
}

/* стили card-tab вкладки */

.card-tab{
    h3{
        font-family: "HelveticaNeueCyr-Medium", Arial;
    }
}
.tab-content{
    padding-top: 1px;
    border: 1px solid transparent;
}
.choose-card{
//    display: none;
    h3{
        margin: 23px 0 8px 0;
    }
    .gray-line{
        margin: 9px 0 0 0;    
    }
    a:hover, a:focus, a:visited, a:active{
        text-decoration: none;
    }
}
#backToSelectCreditCard{
    display: none;
}
.step-finalCheck{
    .choose-card__button, .shipment-address_button{
        width: calc(100% + 19px);
    }
}
.choose-card__button{
    color: $dark-gray-text;
    font-size: 15px;
    display: block;
    width: calc(100% + 20px);
    margin: 0;
    padding: 0px 45px 0px 0px;
    position: relative;
    border-bottom: 1px solid #e3e3e3;
    text-align: left;
    height: 51px;
    line-height: 51px;
    i{
        display: inline-block;
        vertical-align: middle;
    }
    &:hover{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f1f0f1+100 */
        background: #f9f9f9; /* Old browsers */
        background: -moz-linear-gradient(left,  #f9f9f9 0%, #f1f0f1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #f9f9f9 0%,#f1f0f1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #f9f9f9 0%,#f1f0f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f0f1',GradientType=1 ); /* IE6-9 */
    }
    &:hover, &:focus, &:active, &:visited{
        text-decoration: none;
    }
}
.edit-saved-card{
    padding-top: 15px;
    display: none;
    span{
        display: block;
        font-size: 14px;
        font-family: "HelveticaNeueCyr-Medium", Arial;
    }
    p{
        margin: 0px 0 5px 0;
        font-size: 12px;
    }
}
.arrow-edit{
    position: absolute;
    right: 0px;
    top: 0;
    display: block;
    content: "";
    margin: 0;
    width: 45px;
    height: 40px;
    height: 100%;
    background-image: url("../images/arrow-edit.svg");
    background-position: center center;
    background-repeat:  no-repeat;
}
.shipment-address_button{
    @extend .choose-card__button;
    span{
        padding-left: 5px;
    }
}
/*переделать что бы margin не влиял на смещение имени карточки */
.visa-ico-card{
    width: 50px;
    height: 15px;
    margin: 0 13px 0 0;
    position: relative;
    top: -2px;
    background-image: url("../images/icons.png");
    background-position: -233px 0px;
    background-repeat:  no-repeat;
}
.masterCard-ico-card{
    width: 50px;
    height: 30px;
    position: relative;
    top: -1px;
    margin: 0 13px 0 0;
    background-image: url("../images/icons.png");
    background-position: -285px 0px;
    background-repeat:  no-repeat;
}
.shipment-ico-card{
    width: 15px;
    height: 18px;
    position: relative;
    top: -1px;
    margin: 0 13px 0 0;
    background-image: url("../images/icons.png");
    background-position: -423px 0px;
    background-repeat:  no-repeat;
}
.addNewCard-button{
    display: inline-block;
    padding: 7px 20px 7px 0;
    font-size: 14px;
    margin-top: 8px;
    color: #097fd2;
    font-family: "HelveticaNeueCyr-Medium", Arial;
    &:hover{
        color: #097fd2;
        opacity: 0.8;
    }
    span{
        font-size: 18px;
        line-height: 1;
        margin: 0 8px 0 1px;
        font-weight: bold;
    }
}
.credit-card-section{
	display: none;
	margin-top: 12px;	
}
.card-input-container{
	display: block;
	input{
		display: inline-block;
		width: 100%;
//		box-shadow: none !important;
		border: 1px solid #c5c5c5;
		border-radius: 5px;
		height: 35px;
		line-height: 10px;
		font-size: 15px;
		margin: 0;
		&:focus{
//			box-shadow: none !important;
			background-color: #fff;
		}
		&:valid{
			background-color: #fff;
		}
	}
}
.credit-card-number{
    position: relative;
	display: block;
    &:after{
        display: block;
        position: absolute;
        content: "";
        width: 16px;
        height: 12px;
        top: 15px;
        left: 9px;
        background-image: url("../images/icons.png");
        background-position: -337px 0px;
        background-repeat:  no-repeat;
    }
}
.credit-card-number input{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 4px 0 -1px 0;
	padding: 8px 5px 6px 27px;
	border-bottom: 1px solid transparent;
}
.half-input{
    width: 50%;
    float: left;
	margin: 0;
	position: relative;
	input{
		border-radius: 0px;
		padding: 10px 5px 6px 27px;
    }
}
.half-input_left{
	z-index: 2;
    &:after{
        display: block;
        position: absolute;
        content: "";
        width: 14px;
        height: 14px;
        top: 10px;
        left: 9px;
        background-image: url("../images/icons.png");
        background-position: -355px 0px;
        background-repeat:  no-repeat;
    }
    input{
        border-bottom-left-radius: 5px;
    }
}
.half-input_right{
	margin-left: -1px;
	width: calc(50% + 1px);
    &:after{
        display: block;
        position: absolute;
        content: "";
        width: 12px;
        height: 13px;
        top: 10px;
        left: 9px;
        background-image: url("../images/icons.png");
        background-position: -371px 0px;
        background-repeat:  no-repeat;
    }
    input{
		border-bottom-right-radius: 5px;
        border-left: 1px solid transparent;
    }
}
.email-input{
	margin-top: 10px;
	input{
		padding: 8px 5px 6px 10px;
	}
}
.cardholder-name-input{
	margin-top: 50px;
	input{
		padding: 8px 5px 6px 10px;
	}
}
.credit-card-section .error input {
//	color: red;
	border: 1px solid red !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
}
.credit-card-number.error input{
	margin-bottom: 0;
	z-index: 20;
}
.credit-card-number.error{
	top: 1px;
	z-index: 22;
}
.half-input_right.error{
	z-index: 10;
}
.Valid-class input{
	border-color: #40db3e;
	box-shadow: none !important;
}
.Invalid-class input{
	border-color: red;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-ms-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	-o-box-shadow: inset 0 1px 2px rgba(0,0,0,0),0 1px 0 rgba(255,255,255,0),0 0 2px 0 rgba(255,0,0,0.5);
	
}
.button-save-card{
	display: none;
	width: 100%;
	margin-top: 10px;
	border: 1px solid #c5c5c5;
}
.valid-check{
	display: none;
}
.control-label{
    margin: 21px 0 3px 0;
    letter-spacing: -0.2px;
    font-weight: normal !important;
    font-size: 15px;
    color: $light-gray-text;
    font-family: "HelveticaNeueCyr-Roman", Arial;
}
.creditly-wrapper .form-control:focus{
	border-color: #ccc;
	box-shadow: none;
}
.billing-address-name{
    height: 37px;
    line-height: 37px;
    font-size: 15px;
}
.paypal-button{
    display: block;
    width: 100%;
    margin-top: 16px;
    height: 44px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    color: $dark-gray-text;
    padding-right: 0px;
    font-family: "HelveticaNeueCyr-Medium", Arial;
    border-bottom: 2px solid $border-gray;
    &:hover{
        border-bottom: 2px solid $border-gray;
    }
}
.paypal-button_icon{
    display: inline-block;
    width: 64px;
    height: 18px;
    vertical-align: middle;
    background-image: url("../images/icons.png");
    background-position: -100px -18px;
    margin-left: 7px;
    background-repeat:  no-repeat;
}
.payment-continue{
    display: none;
}
/* кнопка в футере*/
.button-save-card-InFooter{
    display: none;
}
/* кнопка в форме */
.button-save-card{
//    display: none;
}

/*стили paypal вкладки*/
.paypal-big-icon{
    
}

/*стили erip вкладки*/
.erip-input-container{
    position: relative;
    padding-top: 1px;
    margin-top: 16px;
    &:after{
        position: absolute;
        top: 12px;
        left: 12px;
        display: block;
        content: "";
        width: 15px;
        height: 13px;
        background-image: url("../images/icons.png");
        background-position: -485px -20px;
        background-repeat:  no-repeat;
    }
}
.erip-input{
    display: block;
    width: 100%;
    font-size: 15px;
    margin: 0px 0 0 0;
    height: 36px;
    line-height: 36px;
    padding: 2px 0 0 38px;
    letter-spacing: 0.4px;
    border-radius: 5px;
    box-shadow: none !important;
    border: 1px solid $border-gray;
}




/* шаг доставки */
.step-shipment{
    display: none;
}
.location-icon{
    display: inline-block;
    width: 20px;
    height: 18px;
    margin: 0 0px 0 0;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -2px;
}
.shipment-address_button, .choose-card__button{
    &:focus,&:active{
        outline: none;
        color: $dark-gray-text;
    }
    &:hover{
        color: $dark-gray-text;
    }
}
.step-shipment {
    .shipment-address_button{
        margin-top: 0px;    
        width: calc(100% + 19px);
        height: 59px;
        height: auto;
        border-top: none;
        img{
            margin: 0;
        }
        span{
//            display: table-cell;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            line-height: 1.2;
            padding: 0 0px 0 10px;
            width: calc(100% - 30px);
        }
    }
    h3{
        margin-top: 28px;
        font-family: "HelveticaNeueCyr-Medium", Arial;
        margin-bottom: 2px;
    }
    .location-icon{
        vertical-align: middle;
        display: inline-block;
        
    }
}
.addNewAddress-button{
    @extend .addNewCard-button;
    &:hover,&:focus,&:visited,&:active{
        text-decoration: none;
    }
    margin-top: 12px;
}
.saved-locations{
    display: none;
    display: block;
}
.new-address{
    display: none;
	h3{
		margin-top: 5px;
		&:first-child{
			margin-top: 15px;
		}
	}
	input{
		margin-top: 10px;
		padding-top: 8px;
		font-size: 15px;
//		line-height: 34px;
	}
}
.backToSavedLocations{
    display: none;
}
.edit-shipment-address{
    display: none;
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    span{
        display: inline-block;
        margin: 15px 0 0 0;
        width: 100%;
        font-family: "HelveticaNeueCyr-Medium", Arial;
    }
}
span.address-span{
    display: inline-block;
    width: auto;
    margin: 10px 0 0 0;
    font-family: "HelveticaNeueCyr-Roman", Arial;
}
span.delete-address-span{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: $medium-blue;
    letter-spacing: 0.5px;
    text-align: right;
    font-family: "HelveticaNeueCyr-Roman", Arial;
    &:hover{
        cursor: pointer;
        color: deepskyblue;
    }
}
.new-address-input{
    margin-top: 18px;
}
.new-address-label{
    font-family: "HelveticaNeueCyr-Roman", Arial;
    font-weight: normal;
    margin: 25px 0 10px 0;
    line-height: 20px;
    color: $dark-gray-text;
    font-size: 16px;
    left: 20px;
    vertical-align: middle;
}
.new-address-label input {
    display: none;
}
.new-address-label span {
    height: 19px;
    width: 19px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-shadow: inset 0 1px 1px #ddd;
    &:hover{
        border-color: #5caef9;
        cursor: pointer;
    }
}
.new-address-input:checked+span{
    background-color: #41a2fa;
    box-shadow: none;
    box-shadow: inset 0 1px 1px #41a2fa;
    border-color: #5caef9;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	background-position: -466px -18px;
    &:hover{
        background-color: #62b2fb;
//        box-shadow: inset 0 3px 1px #41a2fa;
    }
}
//.new-address-input:checked + span:before {
//    content: '\2714';
//    position: absolute;
//    font-size: 14px;
//    color: #fff;
//    top: -1px;
//    left: 3px;
//}
.not-enough-money{
    display: none;
    color: red;
    margin-top: 10px;
    letter-spacing: 0.4px;
}
.not-enough-money.on{
    display: block;
}



/* шаг финальный шаг */
.step-finalCheck{
    display: none;
    a:hover, a:focus, a:visited, a:active{
        color: $dark-gray-text;
    }
}
.shipment-address_title{
    margin-top: 25px;
}
.step-finalCheck.on{
    display: block;
}
.special-underline-border{
    border-top: 1px solid #e3e3e3;
}

.clickToPay_button{
//    display: none;
    display: block;
}
.clickToPay_button, .clickToPay_button:hover{
    color: #fff;
    text-shadow:  1px -1px  1px #3b99f0;
    
    border-color: #4ea8fb;
    border-bottom-color: #2c94f5;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ea8fb+0,2c94f5+100 */
    background: #4ea8fb; /* Old browsers */
    background: -moz-linear-gradient(top,  #4ea8fb 0%, #2c94f5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4ea8fb 0%,#2c94f5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4ea8fb 0%,#2c94f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea8fb', endColorstr='#2c94f5',GradientType=0 ); /* IE6-9 */
}
//.clickToPay_button.on{
//    display: block;
//}
.payment-success{
    display: none;
    vertical-align: 37px;
    letter-spacing: 0.5px;
}
//.payment-success.on{
//    display: block;
//}
.payment-success, .payment-success:hover{
    color: #fff;
    text-shadow: 1px -1px  1px #20b119;
    border-color: #45e548;
    border-bottom-color: #37c72c;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45e548+0,37c72c+100 */
    background: #45e548; /* Old browsers */
    background: -moz-linear-gradient(top,  #45e548 0%, #37c72c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #45e548 0%,#37c72c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #45e548 0%,#37c72c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45e548', endColorstr='#37c72c',GradientType=0 ); /* IE6-9 */
}
.icon-success{
    display: inline-block;
    width: 17px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    left: 0px;
    height: 13px;
    background-image: url("../images/icons.png");
    background-position: -447px 0px;
    background-repeat:  no-repeat;
}



/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
}
  10%, 50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  25%, 75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}




/* disable link styles */
a,a:focus,a:hover,a:active,a.active{
	outline: none;
}

/* запретить выделение ерип и пайпал */
.select-none{
    user-select: none;
}

::-webkit-input-placeholder {
   color: #c2c2c2 !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #c2c2c2 !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #c2c2c2 !important;  
}
:-ms-input-placeholder {  
   color: #c2c2c2 !important;  
}