/*==========  Mobile First Method  ==========*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 40, ../scss/media.scss */
  .credit-card-number input {
    padding: 2px 5px 2px 27px;
  }
}
/*        ****** ******         */
@media only screen and (max-width: 1024px) {
  /* line 65, ../scss/media.scss */
  .hint-container__text {
    width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 71, ../scss/media.scss */
  .hint-container__text {
    width: 150px;
  }

  /* line 74, ../scss/media.scss */
  .popover {
    background-color: #fd1f39;
    min-height: 56px;
  }

  /* line 78, ../scss/media.scss */
  .popover.right > .arrow:after {
    border-right-color: #fd1f39;
  }

  /* line 81, ../scss/media.scss */
  .popover.right {
    margin-left: -268px;
    margin-top: 45px;
    opacity: 0.99;
    width: 300px;
  }

  /* line 87, ../scss/media.scss */
  .popover.right > .arrow {
    margin: -32px 0 0 0;
    opacity: 0.99;
    left: auto;
    right: 20px;
    z-index: 100;
    transform: translate(0, -50%) rotate(90deg);
  }

  /* line 97, ../scss/media.scss */
  .phoneNumber {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }

  /* line 102, ../scss/media.scss */
  #phoneNumber.Invalid-class {
    background-image: url("../images/mob-error.png");
    background-repeat: no-repeat;
    background-position: 122px 8px;
    padding-right: 35px;
    box-shadow: 0 0px 2px 0px red !important;
  }

  /* line 109, ../scss/media.scss */
  .popover-content, .popover {
    color: #fff;
    background-color: red;
    opacity: 1;
  }

  /* line 114, ../scss/media.scss */
  .popover.right > .arrow:after {
    border-right-color: red;
  }

  /* line 117, ../scss/media.scss */
  .modal-open {
    overflow-y: visible;
  }

  /* line 123, ../scss/media.scss */
  .card-container {
    margin-top: 30px;
  }

  /* line 127, ../scss/media.scss */
  .modal-content {
    min-height: 80%;
  }

  /* line 130, ../scss/media.scss */
  .modal-footer button {
    margin-bottom: 10px;
  }

  /* line 133, ../scss/media.scss */
  .card-container {
    min-height: 400px;
  }

  /* line 136, ../scss/media.scss */
  .modal-body .step-payment {
    padding-bottom: 40px;
  }

  /* line 139, ../scss/media.scss */
  .modal-body .step-shipment {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* line 146, ../scss/media.scss */
  .card-container {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 630px) {
  /* line 152, ../scss/media.scss */
  .hint-container__text {
    width: 125px;
  }
}
@media only screen and (max-width: 580px) {
  /* line 159, ../scss/media.scss */
  .hint-container__text {
    width: 105%;
    top: 30px;
    transform: translate(0, 0);
    left: -2.5%;
    box-shadow: 1px 1px 2px 1.5px #777;
  }
  /* line 165, ../scss/media.scss */
  .hint-container__text:after {
    top: -1px;
    margin-top: -5px;
    left: auto;
    right: 13px;
    background: #FFFFFF;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    opacity: 0.99;
  }
}
@media only screen and (max-width: 480px) {
  /* line 183, ../scss/media.scss */
  .card-container {
    margin-top: 20%;
  }

  /* line 187, ../scss/media.scss */
  #myModal {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
@media only screen and (max-width: 425px) {
  /* line 199, ../scss/media.scss */
  .input-group-btn .dropdown-menu {
    width: 260px;
    max-height: 300px;
  }

  /* line 204, ../scss/media.scss */
  .dropdown-menu > li > a {
    padding-left: 10px;
  }
}
/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 238, ../scss/media.scss */
  .card-container {
    margin-top: 6%;
  }
}
/* iPads (portrait) ----------- */
/* The New iPad (iPad 3) ----------- */
/* iPhone 4 ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* The New iPad (iPad 3) ----------- */
