/*==========  Mobile First Method  ==========*/
/*        ****** ******         */
@media only screen and (max-width: 1024px) {
  /* line 61, ../scss/media.scss */
  .hint-container__text {
    width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 67, ../scss/media.scss */
  .hint-container__text {
    width: 150px;
  }

  /* line 70, ../scss/media.scss */
  .popover.right {
    margin-left: -268px;
    margin-top: 45px;
    opacity: 0.99;
    width: 300px;
  }

  /* line 76, ../scss/media.scss */
  .popover.right > .arrow {
    margin-top: -47px;
    left: auto;
    right: 10px;
    z-index: 100;
    transform: rotate(90deg);
  }

  /* line 84, ../scss/media.scss */
  .phoneNumber {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
  }
}
@media only screen and (max-width: 630px) {
  /* line 91, ../scss/media.scss */
  .hint-container__text {
    width: 125px;
  }
}
@media only screen and (max-width: 580px) {
  /* line 98, ../scss/media.scss */
  .hint-container__text {
    width: 105%;
    top: 30px;
    transform: translate(0, 0);
    left: -2.5%;
    box-shadow: 1px 1px 2px 1.5px #777;
  }
  /* line 104, ../scss/media.scss */
  .hint-container__text:after {
    top: -1px;
    margin-top: -5px;
    left: auto;
    right: 13px;
    background: #FFFFFF;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    opacity: 0.99;
  }
}
@media only screen and (max-width: 480px) {
  /* line 122, ../scss/media.scss */
  .card-container {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 425px) {
  /* line 130, ../scss/media.scss */
  .input-group-btn .dropdown-menu {
    width: 260px;
    max-height: 300px;
  }

  /* line 135, ../scss/media.scss */
  .dropdown-menu > li > a {
    padding-left: 10px;
  }
}
/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* The New iPad (iPad 3) ----------- */
/* iPhone 4 ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* The New iPad (iPad 3) ----------- */
