@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*colors*/
/* line 24, ../scss/screen.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 28, ../scss/screen.scss */
body {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  font-size: 12px;
  background-color: #e6e6e6;
  color: #474747;
}

/* line 36, ../scss/screen.scss */
button:focus, button:hover, button:active, button:visited, input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:visited, input:focus, input:hover, input:active, input:visited {
  outline: none !important;
}

/* line 41, ../scss/screen.scss */
h1, h2 {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 45, ../scss/screen.scss */
h3 {
  font-size: 15px;
  letter-spacing: 0.2px;
}

/* line 50, ../scss/screen.scss */
.Main-container {
  display: block;
  margin: 0 auto;
}

/* line 55, ../scss/screen.scss */
#myModal {
  position: relative;
  text-align: center;
}

/* line 60, ../scss/screen.scss */
.watermark {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

/* line 66, ../scss/screen.scss */
.card-container {
  display: block;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 10%;
  max-width: 300px;
  min-height: 500px;
  border-radius: 5px;
}

/* line 81, ../scss/screen.scss */
.modal-header, .modal-body, .modal-footer {
  padding-left: 19px;
  padding-right: 19px;
}

/* line 85, ../scss/screen.scss */
.modal-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #d7d7d7;
}

/* line 90, ../scss/screen.scss */
.modal-body {
  padding-bottom: 20px;
}

/* line 93, ../scss/screen.scss */
.modal-content {
  background-color: #f9f9f9;
  position: relative;
  margin: 0 auto;
  min-height: 465px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  /* ╨┤╨╛╨▒╨░╨▓╨╕╤В╤М ╨┐╨░╨┤╨┤╨╕╨╜╨│ ╨╕╨╖-╨╖╨░ ╤Д╤Г╤В╨╡╤А╨░ */
}

/* line 106, ../scss/screen.scss */
.modal-header {
  position: relative;
  background-color: #ebebeb;
}

/* line 110, ../scss/screen.scss */
.modal-header__container {
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 #999;
}

/* line 123, ../scss/screen.scss */
.modal-header__img {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 2px;
  /* ╨┤╨╕╨╖╨░╨╣╨╜ */
}

/* line 131, ../scss/screen.scss */
.without-img {
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  top: 15px;
  color: #868383;
  letter-spacing: 0.5px;
  font-size: 14px;
}
/* line 132, ../scss/screen.scss */
.without-img img {
  display: none;
}
/* line 146, ../scss/screen.scss */
.without-img:after {
  position: absolute;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  left: 50%;
  margin-left: -25px;
  display: block;
  top: 35px;
  background-color: #999;
  content: "";
}

/* line 160, ../scss/screen.scss */
.modal-title {
  margin-top: 47px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
}

/* line 168, ../scss/screen.scss */
.modal-button {
  display: block;
  width: 100%;
  height: 37px;
  text-align: left;
  border-radius: 5px;
}

/* line 175, ../scss/screen.scss */
.gradient-bg {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(0%, #fff), color-stop(0%, white), color-stop(100%, #f5f6f5));
  background: -webkit-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -o-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -ms-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: linear-gradient(to bottom, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6f5', GradientType=0 );
}
/* line 186, ../scss/screen.scss */
.gradient-bg:hover {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
}
/* line 198, ../scss/screen.scss */
.gradient-bg:focus {
  box-shadow: 0 0 2px 1px #d3d3d3;
}

/* line 204, ../scss/screen.scss */
.modal-hint span {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
  position: relative;
  top: -3px;
  background: url(../images/icons.png) -67px 0px no-repeat;
}
/* line 212, ../scss/screen.scss */
.modal-hint span:hover {
  cursor: pointer;
}

/* line 216, ../scss/screen.scss */
.hint-container__text {
  display: none;
  margin: 20px 0;
}

/* line 221, ../scss/screen.scss */
.hint-container__text.on {
  display: block;
}

/* line 224, ../scss/screen.scss */
.hint-container {
  position: relative;
}

/* line 227, ../scss/screen.scss */
.hint-container__text {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 105%;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #444;
  width: 100%;
  z-index: 5;
}
/* line 241, ../scss/screen.scss */
.hint-container__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* line 259, ../scss/screen.scss */
.modal-header .close {
  margin-top: 0px;
  margin-right: -7px;
}

/* line 263, ../scss/screen.scss */
.close {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

/* line 269, ../scss/screen.scss */
.close:before {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: black;
}

/* line 280, ../scss/screen.scss */
.close:after {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(45deg);
  background-color: black;
}

/* line 291, ../scss/screen.scss */
.step-back {
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 2px;
  width: 7px;
  height: 12px;
  padding: 10px;
  background: url(../images/icons.png) -466px 4px no-repeat;
}
/* line 301, ../scss/screen.scss */
.step-back:hover {
  cursor: pointer;
}

/* line 305, ../scss/screen.scss */
.submit-button {
  display: block;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  height: 37px;
  font-size: 15px;
  color: #474747;
  font-family: "HelveticaNeueCyr-Roman", Arial;
  border-bottom: 2px solid #cbcbcb;
}

/* line 316, ../scss/screen.scss */
.send-container {
  position: relative;
}

/* line 320, ../scss/screen.scss */
.send-container.sending input {
  padding-left: 35px;
}
/* line 323, ../scss/screen.scss */
.send-container.sending:after {
  position: absolute;
  content: '';
  left: 80px;
  top: 9px;
  width: 20px;
  height: 20px;
  background: url(../images/loading-gif.gif) no-repeat;
}

/* line 333, ../scss/screen.scss */
.load {
  width: 20px;
  height: 20px;
}

/* line 337, ../scss/screen.scss */
.sending {
  margin-top: 2px;
  text-align: center;
  padding-left: 0;
}

/* line 342, ../scss/screen.scss */
.icon-button.sending {
  padding-left: 0;
}
/* line 344, ../scss/screen.scss */
.icon-button.sending img {
  margin-right: 8px;
}

/*╤Б╤В╨╕╨╗╨╕ ╨▓╤Л╨▒╨╛╤А╨░ ╨╝╨╡╤В╨╛╨┤╨░ ╨╛╨┐╨╗╨░╤В╤Л*/
/* line 351, ../scss/screen.scss */
.step-choose-method {
  display: none;
}

/* line 354, ../scss/screen.scss */
.step-choose-method.on {
  display: block;
}

/* ╨▓╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П , ╨┤╨╡╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П*/
/* line 358, ../scss/screen.scss */
.modal-header {
  padding-bottom: 13px;
}

/* line 361, ../scss/screen.scss */
.modal-title.step-choose-method {
  margin: 50px 0 0 -2px;
}

/* line 364, ../scss/screen.scss */
.step-choose-method h3 {
  margin: 8px 0 5px -1px;
}

/* line 367, ../scss/screen.scss */
.step-choose-method .modal-button {
  margin-top: 23px;
}

/* line 372, ../scss/screen.scss */
.step-choose-method .signup-button {
  margin: 23px 0 0px 0;
}

/* line 375, ../scss/screen.scss */
.signup-button {
  position: relative;
}
/* line 377, ../scss/screen.scss */
.signup-button:before {
  top: 9px;
  left: 12px;
  background: url(../images/icons.png) 0px 0px no-repeat;
  width: 10px;
  height: 16px;
}

/* line 385, ../scss/screen.scss */
.gray-line {
  display: block;
  width: calc(100% + 7.3%);
  position: relative;
  margin: 20px 0 23px 0;
  height: 1px;
  background-color: #e3e3e3;
}

/* line 393, ../scss/screen.scss */
.icon-button {
  padding: 1px 0 0 34px;
  font-size: 15px;
}

/* line 397, ../scss/screen.scss */
.signup-button {
  position: relative;
}
/* line 399, ../scss/screen.scss */
.signup-button:before, .signup-button span:before {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  left: 12px;
}

/* line 407, ../scss/screen.scss */
.messenger-button, .telegram-button, .skype-button {
  width: 172px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  border: none;
  text-align: left;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 13px;
  box-shadow: 0 0 1px 1px #ccc;
}
/* line 418, ../scss/screen.scss */
.messenger-button:hover, .telegram-button:hover, .skype-button:hover {
  box-shadow: 0 0 1px 1px #aaa;
  color: #fff;
}
/* line 422, ../scss/screen.scss */
.messenger-button i, .telegram-button i, .skype-button i {
  margin-right: 7px;
}

/* line 426, ../scss/screen.scss */
.btn-send-to {
  color: #fff;
}
/* line 428, ../scss/screen.scss */
.btn-send-to:hover, .btn-send-to:focus, .btn-send-to:visited, .btn-send-to:active {
  color: #fff;
}

/* line 432, ../scss/screen.scss */
.messenger-button {
  background-color: #0084ff;
  letter-spacing: -0.3px;
  position: relative;
  padding-left: 28px;
}
/* line 437, ../scss/screen.scss */
.messenger-button:before {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 20px;
  top: 8px;
  left: 10px;
  background: url(../images/icons.png) -12px 0px no-repeat;
}

/* line 448, ../scss/screen.scss */
.step-choose-method .telegram-button {
  margin-top: 5px;
}

/* line 451, ../scss/screen.scss */
.telegram-button {
  color: white;
  background: linear-gradient(#36aee2 20%, #4cb7e5 80%);
  border-color: transparent;
  letter-spacing: 0.1px;
  line-height: 38px;
}
/* line 457, ../scss/screen.scss */
.telegram-button:hover, .telegram-button:focus, .telegram-button:visited, .telegram-button:active {
  background: linear-gradient(#36aee2 20%, #4cb7e5 80%);
  border-color: transparent;
}

/* line 463, ../scss/screen.scss */
.step-choose-method .skype-button {
  margin-top: 10px;
}

/* line 466, ../scss/screen.scss */
.skype-button {
  background-color: #00aeed;
  letter-spacing: 0.1px;
}
/* line 469, ../scss/screen.scss */
.skype-button i {
  font-size: 18px;
  line-height: 36px;
}

/* line 478, ../scss/screen.scss */
.step-choose-method p {
  margin: 10px 0 0 0;
  font-size: 12px;
}
/* line 483, ../scss/screen.scss */
.step-choose-method .account-icon i {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  height: 20px;
  background: url(../images/icon-man.png) 0px 0px no-repeat;
  border-radius: 50%;
}
/* line 491, ../scss/screen.scss */
.step-choose-method .account-icon span {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
}
/* line 496, ../scss/screen.scss */
.step-choose-method .account-icon a {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
  margin-left: 10px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #969696;
}

/* ╤Б╤В╨╕╨╗╨╕ ╨░╨▓╤В╨╛╤А╨╕╨╖╨░╤Ж╨╕╨╕ */
/* line 510, ../scss/screen.scss */
.step-authorization {
  margin-bottom: 3px;
  display: none;
}

/* line 514, ../scss/screen.scss */
.step-authorization.on {
  display: block;
}

/* line 517, ../scss/screen.scss */
.phone-number-form {
  margin-top: 5px;
}

/* line 520, ../scss/screen.scss */
.phone-input-container {
  position: relative;
}

/* line 524, ../scss/screen.scss */
.phone-number-input {
  padding: 2px 10px 0 8px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
}
/* line 534, ../scss/screen.scss */
.phone-number-input:focus, .phone-number-input:active {
  outline: none;
  box-shadow: 0 0 2px 1px #b3e4f6;
  border: 1px solid #27baf0;
}
/* line 539, ../scss/screen.scss */
.phone-number-input:hover {
  border: 1px solid #27baf0;
}

/* line 543, ../scss/screen.scss */
.intl-tel-input .country-list {
  max-width: 250px;
}

/* line 546, ../scss/screen.scss */
.intl-tel-input.allow-dropdown {
  width: 100%;
}

/* line 557, ../scss/screen.scss */
input[type="tel"]:valid {
  position: relative;
  background-color: #e5f7fd;
  background-image: url(../images/ok-blue.png);
  background-repeat: no-repeat;
  background-position: 230px 11px;
}

/* line 567, ../scss/screen.scss */
.phone-helper {
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 36px;
  width: 100px;
  top: 0;
  left: 0;
}
/* line 577, ../scss/screen.scss */
.phone-helper select {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #cbcbcb;
  border-right: none;
  margin: 0;
  height: 36px;
  position: relative;
  padding: 1px 0 0 30px;
  font-size: 15px;
}
/* line 589, ../scss/screen.scss */
.phone-helper select:focus, .phone-helper select:active {
  outline: none;
}
/* line 594, ../scss/screen.scss */
.phone-helper option {
  padding-left: 50px;
  position: relative;
  font-size: 14px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 604, ../scss/screen.scss */
.step-authorization-submit {
  margin-top: 10px;
  line-height: 35px;
}

/* line 608, ../scss/screen.scss */
.step-authorization p {
  margin: 5px 0 0 0;
  font-size: 14px;
}
/* line 611, ../scss/screen.scss */
.step-authorization p a {
  font-size: 15px;
  color: #097fd2;
  text-decoration: underline;
}

/*╨▓╨▓╨╛╨┤ ╤Б╨╝╤Б ╨║╨╛╨┤╨░*/
/* line 621, ../scss/screen.scss */
.enter-sms-code p {
  margin-top: 12px;
  letter-spacing: 0.3px;
  line-height: 1.3;
}
/* line 626, ../scss/screen.scss */
.enter-sms-code img {
  margin: 0 10px 0 4px;
  position: relative;
  top: -2px;
}
/* line 631, ../scss/screen.scss */
.enter-sms-code .dont-get-code {
  margin-top: 23px;
}
/* line 634, ../scss/screen.scss */
.enter-sms-code a {
  margin-left: 2px;
}
/* line 637, ../scss/screen.scss */
.enter-sms-code .sending-process {
  margin-top: 23px;
}

/* line 641, ../scss/screen.scss */
.sms-code-input {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
  padding: 0 10px;
  margin: 10px 0 0 0;
  letter-spacing: 0.6px;
  font-size: 14px;
}

/* line 652, ../scss/screen.scss */
#btn-country {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-right: none;
  height: 34px;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
}
/* line 661, ../scss/screen.scss */
#btn-country > .flag {
  line-height: 34px;
  vertical-align: text-bottom;
}

/* line 670, ../scss/screen.scss */
.dropdown-menu .flag {
  vertical-align: sub;
}

/* line 674, ../scss/screen.scss */
.popover-content {
  color: #000;
}

/* line 678, ../scss/screen.scss */
.input-phone .form-control {
  padding: 2px 10px 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  box-shadow: none;
  display: table-cell;
  vertical-align: middle;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

/* ╤Б╤В╨╕╨╗╨╕ ╤Д╤Г╤В╨╡╤А╨░ */
/* line 694, ../scss/screen.scss */
.modal-footer {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 701, ../scss/screen.scss */
.modal-footer button {
  text-align: center;
  padding: 0;
  font-size: 15px;
  line-height: 35px;
}

/* line 708, ../scss/screen.scss */
.modal-footer.step-authorization {
  margin-bottom: 0;
}

/*  ╤Б╤В╨╕╨╗╨╕ ╤И╨░╨│╨░ payment*/
/* line 715, ../scss/screen.scss */
.step-payment {
  display: none;
}

/* line 718, ../scss/screen.scss */
.step-payment.on {
  display: block;
}

/* line 721, ../scss/screen.scss */
h2.step-payment {
  margin: 47px auto 3px auto;
}

/* line 725, ../scss/screen.scss */
.phone-number {
  max-width: 170px;
  position: absolute;
  height: 27px;
  line-height: 27px;
  background-color: #fff;
  z-index: 3;
  bottom: -13px;
  right: auto;
  padding: 0px 10px 0px 10px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  color: #474747 !important;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #cbcbcb;
}

/* line 747, ../scss/screen.scss */
.payment-tabs-container {
  margin-top: 28px;
}

/* line 751, ../scss/screen.scss */
.payment-tabs {
  border: 1px solid #afafaf;
  border-radius: 5px;
  overflow: hidden;
  letter-spacing: -0.36em;
}
/* line 756, ../scss/screen.scss */
.payment-tabs li {
  height: 30px;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  width: 33.333%;
  border-right: 1px solid #afafaf;
}
/* line 768, ../scss/screen.scss */
.payment-tabs li:nth-child(2) a {
  background-image: url("../images/paypal-color.png");
  background-position: 14px 7px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0px;
  margin-left: 10px;
  margin: 0;
  height: 30px;
}
/* line 782, ../scss/screen.scss */
.payment-tabs li:nth-child(2).active a {
  background-image: url("../images/paypal.png");
  background-position: 12px 6px;
  background-color: #d5d5d5;
}
/* line 790, ../scss/screen.scss */
.payment-tabs li:nth-child(3) a {
  background-image: url("../images/erip-color.png");
  background-position: 28px 6px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0px;
  margin-left: 10px;
  margin: 0;
  height: 30px;
}
/* line 804, ../scss/screen.scss */
.payment-tabs li:nth-child(3).active a {
  background-image: url("../images/erip.png");
  background-position: 26px 4px;
  background-color: #d5d5d5;
}
/* line 811, ../scss/screen.scss */
.payment-tabs li:last-child {
  border-right: none;
}
/* line 814, ../scss/screen.scss */
.payment-tabs li:first-child.active {
  font-size: 16px;
  font-weight: 600;
  font-family: "HelveticaNeueCyr-Bold", Arial;
  text-shadow: 1px 1px 2px #333;
}
/* line 820, ../scss/screen.scss */
.payment-tabs li:first-child.active a {
  background: #d5d5d5;
}
/* line 825, ../scss/screen.scss */
.payment-tabs > li {
  margin: 0;
}
/* line 828, ../scss/screen.scss */
.payment-tabs > li > a {
  padding: 0;
  color: #474747;
  line-height: 31px;
  font-size: 15px;
  display: block;
  margin: 0;
  border: none;
  border-radius: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
  /* IE6-9 */
}

/* line 848, ../scss/screen.scss */
.payment-tabs-container__tab-content {
  border-top: 1px transparent;
}

/*change bootstrap styles*/
/* line 854, ../scss/screen.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #fff;
  margin: 0;
  border: none;
  background-color: #d5d5d5;
  border-bottom-color: #afafaf;
  border-bottom-color: transparent;
}

/* ╤Б╤В╨╕╨╗╨╕ card-tab ╨▓╨║╨╗╨░╨┤╨║╨╕ */
/* line 869, ../scss/screen.scss */
.card-tab h3 {
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 873, ../scss/screen.scss */
.tab-content {
  padding-top: 1px;
  border: 1px solid transparent;
}

/* line 879, ../scss/screen.scss */
.choose-card h3 {
  margin: 23px 0 8px 0;
}
/* line 882, ../scss/screen.scss */
.choose-card .gray-line {
  margin: 9px 0 0 0;
}
/* line 885, ../scss/screen.scss */
.choose-card a:hover, .choose-card a:focus, .choose-card a:visited, .choose-card a:active {
  text-decoration: none;
}

/* line 889, ../scss/screen.scss */
#backToSelectCreditCard {
  display: none;
}

/* line 892, ../scss/screen.scss */
.choose-card__button {
  color: #474747;
  font-size: 15px;
  display: block;
  width: calc(100% + 20px);
  margin: 1px 0 0 0;
  padding: 5px 0 5px 0px;
  padding: 0;
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  text-align: left;
  height: 51px;
  line-height: 51px;
}
/* line 905, ../scss/screen.scss */
.choose-card__button:after {
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -5px;
  display: block;
  content: "";
  width: 6px;
  height: 10px;
  background-image: url("../images/icons.png");
  background-position: -440px -14px;
  background-repeat: no-repeat;
}
/* line 920, ../scss/screen.scss */
.choose-card__button i {
  display: inline-block;
  vertical-align: middle;
}
/* line 924, ../scss/screen.scss */
.choose-card__button:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f1f0f1+100 */
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f1f0f1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f1f0f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f9f9f9 0%, #f1f0f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f0f1',GradientType=1 );
  /* IE6-9 */
}

/*╨┐╨╡╤А╨╡╨┤╨╡╨╗╨░╤В╤М ╤З╤В╨╛ ╨▒╤Л margin ╨╜╨╡ ╨▓╨╗╨╕╤П╨╗ ╨╜╨░ ╤Б╨╝╨╡╤Й╨╡╨╜╨╕╨╡ ╨╕╨╝╨╡╨╜╨╕ ╨║╨░╤А╤В╨╛╤З╨║╨╕ */
/* line 934, ../scss/screen.scss */
.visa-ico-card {
  width: 50px;
  height: 15px;
  margin: 0 13px 0 0;
  position: relative;
  top: -2px;
  background-image: url("../images/icons.png");
  background-position: -233px 0px;
  background-repeat: no-repeat;
}

/* line 944, ../scss/screen.scss */
.masterCard-ico-card {
  width: 50px;
  height: 30px;
  position: relative;
  top: -1px;
  margin: 0 13px 0 0;
  background-image: url("../images/icons.png");
  background-position: -285px 0px;
  background-repeat: no-repeat;
}

/* line 954, ../scss/screen.scss */
.addNewCard-button {
  display: inline-block;
  padding: 7px 20px 7px 0;
  font-size: 14px;
  margin-top: 8px;
  color: #097fd2;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}
/* line 961, ../scss/screen.scss */
.addNewCard-button:hover {
  color: #097fd2;
  opacity: 0.8;
}
/* line 965, ../scss/screen.scss */
.addNewCard-button span {
  font-size: 18px;
  line-height: 1;
  margin: 0 8px 0 1px;
  font-weight: bold;
}

/* line 972, ../scss/screen.scss */
.creditly-card-form {
  display: none;
}

/* line 975, ../scss/screen.scss */
.choose-card.choose-card_open {
  display: block;
}

/* line 978, ../scss/screen.scss */
.choose-card.choose-card_closed {
  display: none;
}

/* line 981, ../scss/screen.scss */
.creditly-card-form.creditly-card-form_open {
  display: block;
}

/* line 984, ../scss/screen.scss */
.creditly-card-form.creditly-card-form_closed {
  display: none;
}

/* line 987, ../scss/screen.scss */
.creditly-wrapper {
  width: 100%;
  margin-top: 16px;
}

/* line 991, ../scss/screen.scss */
.card-number-input {
  position: relative;
}
/* line 993, ../scss/screen.scss */
.card-number-input:after {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 12px;
  top: 11px;
  left: 11px;
  background-image: url("../images/icons.png");
  background-position: -337px 0px;
  background-repeat: no-repeat;
}
/* line 1005, ../scss/screen.scss */
.card-number-input input {
  border-color: #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: none !important;
  height: 35px;
  font-size: 15px;
  padding: 8px 12px 6px 37px;
}
/* line 1014, ../scss/screen.scss */
.card-number-input input:focus {
  box-shadow: none !important;
  border-color: #ccc;
}

/* line 1020, ../scss/screen.scss */
.half-input {
  width: 50%;
  float: left;
}
/* line 1023, ../scss/screen.scss */
.half-input input {
  border-color: #c5c5c5;
  border-top: none !important;
  box-shadow: none !important;
  height: 35px;
  font-size: 15px;
  padding: 8px 12px 6px 37px;
}
/* line 1030, ../scss/screen.scss */
.half-input input:focus {
  box-shadow: none !important;
  border-color: #ccc;
}

/* line 1036, ../scss/screen.scss */
.half-input_left {
  position: relative;
}
/* line 1038, ../scss/screen.scss */
.half-input_left:after {
  display: block;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 10px;
  left: 12px;
  background-image: url("../images/icons.png");
  background-position: -355px 0px;
  background-repeat: no-repeat;
}
/* line 1050, ../scss/screen.scss */
.half-input_left input {
  border-color: #c5c5c5;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* line 1057, ../scss/screen.scss */
.half-input_right {
  position: relative;
}
/* line 1059, ../scss/screen.scss */
.half-input_right:after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 13px;
  top: 10px;
  left: 14px;
  background-image: url("../images/icons.png");
  background-position: -371px 0px;
  background-repeat: no-repeat;
}
/* line 1071, ../scss/screen.scss */
.half-input_right input {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: none !important;
}

/* line 1078, ../scss/screen.scss */
.control-label {
  margin: 21px 0 3px 0;
  letter-spacing: -0.2px;
  font-weight: normal;
  font-size: 15px;
  color: #868383;
  font-family: "HelveticaNeueCyr-Roman", Arial;
}

/* line 1086, ../scss/screen.scss */
.billing-address-name {
  height: 37px;
  line-height: 37px;
  font-size: 15px;
}

/* line 1091, ../scss/screen.scss */
.paypal-button {
  display: block;
  width: 100%;
  margin-top: 16px;
  height: 44px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  font-size: 15px;
  color: #474747;
  padding-right: 0px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  border-bottom: 3px solid #cbcbcb;
}
/* line 1104, ../scss/screen.scss */
.paypal-button:hover {
  border-bottom: 3px solid #cbcbcb;
}

/* line 1108, ../scss/screen.scss */
.paypal-button_icon {
  display: inline-block;
  width: 64px;
  height: 18px;
  vertical-align: middle;
  background-image: url("../images/icons.png");
  background-position: -100px -18px;
  margin-left: 7px;
  background-repeat: no-repeat;
}

/* line 1118, ../scss/screen.scss */
.creditly-blue-theme-submit {
  display: block;
  width: 100%;
}

/* line 1122, ../scss/screen.scss */
.payment-continue {
  display: none;
}

/* ╨║╨╜╨╛╨┐╨║╨░ ╨▓ ╤Д╤Г╤В╨╡╤А╨╡*/
/* line 1126, ../scss/screen.scss */
.button-save-card-InFooter {
  display: none;
}

/* ╨║╨╜╨╛╨┐╨║╨░ ╨▓ ╤Д╨╛╤А╨╝╨╡ */
/* line 1130, ../scss/screen.scss */
.button-save-card {
  display: none;
}

/*╤Б╤В╨╕╨╗╨╕ paypal ╨▓╨║╨╗╨░╨┤╨║╨╕*/
/*╤Б╤В╨╕╨╗╨╕ erip ╨▓╨║╨╗╨░╨┤╨║╨╕*/
/* line 1152, ../scss/screen.scss */
.erip-input-container {
  position: relative;
  padding-top: 1px;
  margin-top: 16px;
  border: 1px solid #fff;
}
/* line 1157, ../scss/screen.scss */
.erip-input-container:after {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../images/icons.png");
  background-position: -485px -20px;
  background-repeat: no-repeat;
  z-index: 1000;
}

/* line 1172, ../scss/screen.scss */
.erip-input {
  display: block;
  width: 100%;
  font-size: 15px;
  margin: 0px 0 0 0;
  height: 36px;
  line-height: 36px;
  padding: 2px 0 0 38px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #cbcbcb;
}

/* ╤И╨░╨│ ╨┤╨╛╤Б╤В╨░╨▓╨║╨╕ */
/* line 1190, ../scss/screen.scss */
.step-shipment {
  display: none;
}

/* line 1193, ../scss/screen.scss */
.step-shipment.on {
  display: block;
}
