@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*colors*/
/* line 24, ../scss/screen.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 28, ../scss/screen.scss */
body {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  font-size: 12px;
  background-color: #e6e6e6;
  color: #474747;
}

/* line 36, ../scss/screen.scss */
button:focus, button:hover, button:active, button:visited, input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:visited, input:focus, input:hover, input:active, input:visited {
  outline: none !important;
}

/* line 41, ../scss/screen.scss */
h1, h2 {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 45, ../scss/screen.scss */
h3 {
  font-size: 15px;
  letter-spacing: 0.2px;
}

/* line 50, ../scss/screen.scss */
.Main-container {
  display: block;
  margin: 0 auto;
}

/* line 55, ../scss/screen.scss */
#myModal {
  position: relative;
  text-align: center;
}

/* line 60, ../scss/screen.scss */
.watermark {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

/* line 66, ../scss/screen.scss */
.card-container {
  display: block;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 10%;
  max-width: 300px;
  min-height: 500px;
  border-radius: 5px;
}

/* line 81, ../scss/screen.scss */
.modal-header, .modal-body, .modal-footer {
  padding-left: 19px;
  padding-right: 19px;
}

/* line 85, ../scss/screen.scss */
.modal-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #d7d7d7;
}

/* line 90, ../scss/screen.scss */
.modal-body {
  padding-bottom: 70px;
  /**/
  /* ╨╛╤В ╨╜╨╡╨╢╨╡╨╗╨░╤В╨╡╨╗╤М╨╜╤Л╤Е ╨▓╤Л╨┐╨░╨┤╨░╨╜╨╕╨╣ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨╛╨▓ */
  overflow: visible;
}

/* line 97, ../scss/screen.scss */
.modal-content {
  background-color: #f9f9f9;
  position: relative;
  margin: 0 auto;
  min-height: 465px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  /* ╨┤╨╛╨▒╨░╨▓╨╕╤В╤М ╨┐╨░╨┤╨┤╨╕╨╜╨│ ╨╕╨╖-╨╖╨░ ╤Д╤Г╤В╨╡╤А╨░ */
}

/* line 110, ../scss/screen.scss */
.modal-header {
  position: relative;
  background-color: #ebebeb;
}

/* line 114, ../scss/screen.scss */
.modal-header__container {
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 #999;
}

/* line 127, ../scss/screen.scss */
.modal-header__img {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 2px;
  /* ╨┤╨╕╨╖╨░╨╣╨╜ */
}

/* line 135, ../scss/screen.scss */
.without-img {
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  top: 15px;
  color: #868383;
  letter-spacing: 0.5px;
  font-size: 14px;
}
/* line 136, ../scss/screen.scss */
.without-img img {
  display: none;
}
/* line 150, ../scss/screen.scss */
.without-img:after {
  position: absolute;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  left: 50%;
  margin-left: -25px;
  display: block;
  top: 35px;
  background-color: #999;
  content: "";
}

/* line 163, ../scss/screen.scss */
.form-control {
  box-shadow: none !important;
  outline: none !important;
}
/* line 166, ../scss/screen.scss */
.form-control:focus, .form-control:active {
  box-shadow: none !important;
  outline: none !important;
  border-color: #ccc !important;
}

/* line 172, ../scss/screen.scss */
.modal-title {
  margin-top: 47px;
  margin-bottom: 3px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
}

/* line 181, ../scss/screen.scss */
.modal-button {
  display: block;
  width: 100%;
  height: 37px;
  text-align: left;
  border-radius: 5px;
}

/* line 188, ../scss/screen.scss */
.gradient-bg {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(0%, #fff), color-stop(0%, white), color-stop(100%, #f5f6f5));
  background: -webkit-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -o-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -ms-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: linear-gradient(to bottom, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6f5', GradientType=0 );
}
/* line 199, ../scss/screen.scss */
.gradient-bg:hover {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
}
/* line 211, ../scss/screen.scss */
.gradient-bg:focus {
  box-shadow: 0 0 2px 1px #d3d3d3;
}

/* line 217, ../scss/screen.scss */
.modal-hint span {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
  position: relative;
  top: -3px;
  background: url(../images/icons.png) -67px 0px no-repeat;
}
/* line 225, ../scss/screen.scss */
.modal-hint span:hover {
  cursor: pointer;
}

/* line 229, ../scss/screen.scss */
.hint-container__text {
  display: none;
  margin: 20px 0;
}

/* line 234, ../scss/screen.scss */
.hint-container__text.on {
  display: block;
}

/* line 237, ../scss/screen.scss */
.hint-container {
  position: relative;
}

/* line 240, ../scss/screen.scss */
.hint-container__text {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 105%;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #444;
  width: 100%;
  z-index: 5;
}
/* line 254, ../scss/screen.scss */
.hint-container__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* line 272, ../scss/screen.scss */
.modal-header .close {
  margin-top: 0px;
  margin-right: -7px;
}

/* line 276, ../scss/screen.scss */
.close {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

/* line 282, ../scss/screen.scss */
.close:before {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: black;
}

/* line 293, ../scss/screen.scss */
.close:after {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(45deg);
  background-color: black;
}

/* line 304, ../scss/screen.scss */
.step-back {
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 2px;
  width: 7px;
  height: 12px;
  padding: 10px;
  background: url(../images/icons.png) -466px 4px no-repeat;
}
/* line 314, ../scss/screen.scss */
.step-back:hover {
  cursor: pointer;
}

/* line 318, ../scss/screen.scss */
.submit-button {
  display: block;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  height: 37px;
  font-size: 15px;
  color: #474747;
  font-family: "HelveticaNeueCyr-Roman", Arial;
  border-bottom: 2px solid #cbcbcb;
}

/* line 329, ../scss/screen.scss */
.send-container {
  position: relative;
}

/* line 333, ../scss/screen.scss */
.send-container.sending input {
  padding-left: 35px;
}
/* line 336, ../scss/screen.scss */
.send-container.sending:after {
  position: absolute;
  content: '';
  left: 80px;
  top: 9px;
  width: 20px;
  height: 20px;
  background: url(../images/loading-gif.gif) no-repeat;
}

/* line 346, ../scss/screen.scss */
.load {
  width: 20px;
  height: 20px;
}

/* line 350, ../scss/screen.scss */
.sending {
  margin-top: 10px;
  text-align: center;
  padding-left: 0;
}

/* line 355, ../scss/screen.scss */
.icon-button.sending {
  padding-left: 0;
}
/* line 357, ../scss/screen.scss */
.icon-button.sending img {
  margin-right: 8px;
}

/*╤Б╤В╨╕╨╗╨╕ ╨▓╤Л╨▒╨╛╤А╨░ ╨╝╨╡╤В╨╛╨┤╨░ ╨╛╨┐╨╗╨░╤В╤Л*/
/* line 364, ../scss/screen.scss */
.step-choose-method {
  display: none;
  display: block;
}

/* ╨▓╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П , ╨┤╨╡╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П*/
/* line 372, ../scss/screen.scss */
.modal-header {
  padding-bottom: 13px;
}

/* line 375, ../scss/screen.scss */
.modal-title.step-choose-method {
  margin: 50px 0 0 -2px;
}

/* line 378, ../scss/screen.scss */
.step-choose-method h3 {
  margin: 8px 0 5px -1px;
}

/* line 381, ../scss/screen.scss */
.step-choose-method .modal-button {
  margin-top: 23px;
}

/* line 385, ../scss/screen.scss */
.step-choose-method .signup-button {
  margin: 23px 0 0px 0;
}

/* line 388, ../scss/screen.scss */
.signup-button {
  position: relative;
}
/* line 390, ../scss/screen.scss */
.signup-button:before {
  top: 9px;
  left: 12px;
  background: url(../images/icons.png) 0px 0px no-repeat;
  width: 10px;
  height: 16px;
}

/* line 398, ../scss/screen.scss */
.gray-line {
  display: block;
  width: calc(100% + 7.3%);
  position: relative;
  margin: 20px 0 23px 0;
  height: 1px;
  background-color: #e3e3e3;
}

/* line 406, ../scss/screen.scss */
.icon-button {
  padding: 1px 0 0 34px;
  font-size: 15px;
}

/* line 410, ../scss/screen.scss */
.signup-button {
  position: relative;
}
/* line 412, ../scss/screen.scss */
.signup-button:before, .signup-button span:before {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  left: 12px;
}

/* line 420, ../scss/screen.scss */
.messenger-button, .telegram-button, .skype-button {
  width: 172px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  border: none;
  text-align: left;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 13px;
  box-shadow: 0 0 1px 1px #c5c5c5;
}
/* line 431, ../scss/screen.scss */
.messenger-button:hover, .telegram-button:hover, .skype-button:hover {
  box-shadow: 0 0 2px 2px #c5c5c5;
  color: #fff;
}
/* line 435, ../scss/screen.scss */
.messenger-button i, .telegram-button i, .skype-button i {
  margin-right: 7px;
}

/* line 439, ../scss/screen.scss */
.btn-send-to {
  color: #fff;
}
/* line 441, ../scss/screen.scss */
.btn-send-to:hover, .btn-send-to:focus, .btn-send-to:visited, .btn-send-to:active {
  color: #fff;
}

/* line 445, ../scss/screen.scss */
.messenger-button {
  background-color: #0084ff;
  letter-spacing: -0.3px;
  position: relative;
  padding-left: 28px;
}
/* line 450, ../scss/screen.scss */
.messenger-button:before {
  display: block;
  position: absolute;
  content: "";
  width: 18px;
  height: 20px;
  top: 8px;
  left: 10px;
  background: url(../images/icons.png) -12px 0px no-repeat;
}

/* line 461, ../scss/screen.scss */
.step-choose-method .telegram-button {
  margin-top: 5px;
}

/* line 464, ../scss/screen.scss */
.telegram-button {
  color: white;
  background: linear-gradient(#36aee2 20%, #4cb7e5 80%);
  border-color: transparent;
  letter-spacing: 0.1px;
  line-height: 38px;
}
/* line 470, ../scss/screen.scss */
.telegram-button:hover, .telegram-button:focus, .telegram-button:visited, .telegram-button:active {
  background: linear-gradient(#36aee2 20%, #4cb7e5 80%);
  border-color: transparent;
}

/* line 476, ../scss/screen.scss */
.step-choose-method .skype-button {
  margin-top: 10px;
}

/* line 479, ../scss/screen.scss */
.skype-button {
  background-color: #00aeed;
  letter-spacing: 0.1px;
}
/* line 482, ../scss/screen.scss */
.skype-button i {
  font-size: 18px;
  line-height: 36px;
}

/* line 491, ../scss/screen.scss */
.step-choose-method p {
  margin: 10px 0 0 0;
  font-size: 12px;
}
/* line 496, ../scss/screen.scss */
.step-choose-method .account-icon i {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  height: 20px;
  background: url(../images/icon-man.png) 0px 0px no-repeat;
  border-radius: 50%;
}
/* line 504, ../scss/screen.scss */
.step-choose-method .account-icon span {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
}
/* line 509, ../scss/screen.scss */
.step-choose-method .account-icon a {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
  margin-left: 10px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #969696;
}

/* ╤Б╤В╨╕╨╗╨╕ ╨░╨▓╤В╨╛╤А╨╕╨╖╨░╤Ж╨╕╨╕ */
/* line 523, ../scss/screen.scss */
.step-authorization {
  margin-bottom: 3px;
  display: none;
}

/* line 530, ../scss/screen.scss */
.phone-number-form {
  margin-top: 5px;
}

/* line 533, ../scss/screen.scss */
.phone-input-container {
  position: relative;
}

/* line 537, ../scss/screen.scss */
.phone-number-input {
  padding: 2px 10px 0 8px;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
}
/* line 547, ../scss/screen.scss */
.phone-number-input:focus, .phone-number-input:active {
  outline: none;
  box-shadow: 0 0 2px 1px #b3e4f6;
  border: 1px solid #27baf0;
}
/* line 552, ../scss/screen.scss */
.phone-number-input:hover {
  border: 1px solid #27baf0;
}

/* line 556, ../scss/screen.scss */
.intl-tel-input .country-list {
  max-width: 250px;
}

/* line 559, ../scss/screen.scss */
.intl-tel-input.allow-dropdown {
  width: 100%;
}

/* line 562, ../scss/screen.scss */
#phoneNumber.Valid-class {
  background-color: #e5f7fd;
  background-image: url("../images/checked.svg");
  background-repeat: no-repeat;
  background-position: 122px 7px;
  padding-right: 35px;
}

/* line 570, ../scss/screen.scss */
#phoneNumber.Invalid-class {
  border-color: red !important;
}

/* line 574, ../scss/screen.scss */
.phone-helper {
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 36px;
  width: 100px;
  top: 0;
  left: 0;
}
/* line 582, ../scss/screen.scss */
.phone-helper select {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #cbcbcb;
  border-right: none;
  margin: 0;
  height: 36px;
  position: relative;
  padding: 1px 0 0 30px;
  font-size: 15px;
}
/* line 594, ../scss/screen.scss */
.phone-helper select:focus, .phone-helper select:active {
  outline: none;
}
/* line 599, ../scss/screen.scss */
.phone-helper option {
  padding-left: 50px;
  position: relative;
  font-size: 14px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 609, ../scss/screen.scss */
.step-authorization-submit {
  margin-top: 10px;
  line-height: 35px;
}

/* line 613, ../scss/screen.scss */
.step-authorization p {
  margin: 5px 0 0 0;
  font-size: 14px;
}
/* line 616, ../scss/screen.scss */
.step-authorization p a {
  font-size: 15px;
  color: #097fd2;
  text-decoration: underline;
}

/*╨▓╨▓╨╛╨┤ ╤Б╨╝╤Б ╨║╨╛╨┤╨░*/
/* line 626, ../scss/screen.scss */
.enter-sms-code p {
  margin-top: 12px;
  letter-spacing: 0.3px;
  line-height: 1.3;
}
/* line 631, ../scss/screen.scss */
.enter-sms-code img {
  margin: 0 10px 0 4px;
  position: relative;
  top: -2px;
}
/* line 636, ../scss/screen.scss */
.enter-sms-code .dont-get-code {
  margin-top: 23px;
}
/* line 639, ../scss/screen.scss */
.enter-sms-code a {
  margin-left: 2px;
}
/* line 642, ../scss/screen.scss */
.enter-sms-code .sending-process {
  margin-top: 23px;
}

/* line 646, ../scss/screen.scss */
.sms-code-input {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
  padding: 0 10px;
  margin: 10px 0 0 0;
  letter-spacing: 0.6px;
  font-size: 14px;
}

/* line 657, ../scss/screen.scss */
#btn-country {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-right: none;
  height: 34px;
  line-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
}
/* line 666, ../scss/screen.scss */
#btn-country > .flag {
  line-height: 34px;
  vertical-align: text-bottom;
}

/* line 675, ../scss/screen.scss */
.dropdown-menu .flag {
  vertical-align: sub;
}

/* line 679, ../scss/screen.scss */
.popover-content {
  color: #000;
}

/* line 683, ../scss/screen.scss */
.input-phone .form-control {
  padding: 2px 10px 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  box-shadow: none !important;
  display: table-cell;
  vertical-align: middle;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

/* ╤Б╤В╨╕╨╗╨╕ ╤Д╤Г╤В╨╡╤А╨░ */
/* line 699, ../scss/screen.scss */
.modal-footer {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 706, ../scss/screen.scss */
.modal-footer button {
  text-align: center;
  padding: 0;
  font-size: 15px;
  line-height: 35px;
}

/* line 713, ../scss/screen.scss */
.modal-footer.step-authorization {
  margin-bottom: 0;
}

/*  ╤Б╤В╨╕╨╗╨╕ ╤И╨░╨│╨░ payment*/
/* line 720, ../scss/screen.scss */
.step-payment {
  display: none;
}

/* line 726, ../scss/screen.scss */
h2.step-payment {
  margin: 47px auto 3px auto;
}

/* line 729, ../scss/screen.scss */
.phone-number {
  max-width: 170px;
  position: absolute;
  height: 27px;
  line-height: 27px;
  background-color: #fff;
  z-index: 3;
  bottom: -13px;
  right: auto;
  padding: 0px 10px 0px 10px;
  text-align: center;
  margin: auto;
  left: 50%;
  margin-left: -25%;
  color: #474747 !important;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #cbcbcb;
}

/* line 749, ../scss/screen.scss */
.payment-tabs-container {
  margin-top: 28px;
}

/* line 752, ../scss/screen.scss */
.payment-tabs {
  border: 1px solid #afafaf;
  border-radius: 5px;
  overflow: hidden;
  letter-spacing: -0.36em;
}
/* line 757, ../scss/screen.scss */
.payment-tabs li {
  height: 30px;
  line-height: 30px;
  letter-spacing: normal;
  text-align: center;
  width: 33.333%;
  border-right: 1px solid #afafaf;
}
/* line 765, ../scss/screen.scss */
.payment-tabs li:nth-child(2) a {
  background-image: url("../images/paypal-color.png");
  background-position: 14px 7px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0px;
  margin-left: 10px;
  margin: 0;
  height: 30px;
}
/* line 777, ../scss/screen.scss */
.payment-tabs li:nth-child(2).active a {
  background-image: url("../images/paypal.png");
  background-position: 12px 6px;
  background-color: #d5d5d5;
}
/* line 785, ../scss/screen.scss */
.payment-tabs li:nth-child(3) a {
  background-image: url("../images/erip-color.png");
  background-position: 28px 6px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 0px;
  margin-left: 10px;
  margin: 0;
  height: 30px;
}
/* line 799, ../scss/screen.scss */
.payment-tabs li:nth-child(3).active a {
  background-image: url("../images/erip.png");
  background-position: 26px 4px;
  background-color: #d5d5d5;
}
/* line 806, ../scss/screen.scss */
.payment-tabs li:last-child {
  border-right: none;
}
/* line 809, ../scss/screen.scss */
.payment-tabs li:first-child.active {
  font-size: 16px;
  font-weight: 600;
  font-family: "HelveticaNeueCyr-Bold", Arial;
  text-shadow: 1px 1px 2px #333;
}
/* line 815, ../scss/screen.scss */
.payment-tabs li:first-child.active a {
  background: #d5d5d5;
}
/* line 820, ../scss/screen.scss */
.payment-tabs > li {
  margin: 0;
}
/* line 823, ../scss/screen.scss */
.payment-tabs > li > a {
  padding: 0;
  color: #474747;
  line-height: 31px;
  font-size: 15px;
  display: block;
  margin: 0;
  border: none;
  border-radius: 0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
  /* IE6-9 */
}

/* line 843, ../scss/screen.scss */
.payment-tabs-container__tab-content {
  border-top: 1px transparent;
}

/*change bootstrap styles*/
/* line 849, ../scss/screen.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #fff;
  margin: 0;
  border: none;
  background-color: #d5d5d5;
  border-bottom-color: #afafaf;
  border-bottom-color: transparent;
}

/* ╤Б╤В╨╕╨╗╨╕ card-tab ╨▓╨║╨╗╨░╨┤╨║╨╕ */
/* line 870, ../scss/screen.scss */
.card-tab h3 {
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 874, ../scss/screen.scss */
.tab-content {
  padding-top: 1px;
  border: 1px solid transparent;
}

/* line 880, ../scss/screen.scss */
.choose-card h3 {
  margin: 23px 0 8px 0;
}
/* line 883, ../scss/screen.scss */
.choose-card .gray-line {
  margin: 9px 0 0 0;
}
/* line 886, ../scss/screen.scss */
.choose-card a:hover, .choose-card a:focus, .choose-card a:visited, .choose-card a:active {
  text-decoration: none;
}

/* line 890, ../scss/screen.scss */
#backToSelectCreditCard {
  display: none;
}

/* line 894, ../scss/screen.scss */
.step-finalCheck .choose-card__button, .step-finalCheck .shipment-address_button, .step-finalCheck .shipment-address_button {
  width: calc(100% + 19px);
}

/* line 898, ../scss/screen.scss */
.choose-card__button, .shipment-address_button {
  color: #474747;
  font-size: 15px;
  display: block;
  width: calc(100% + 20px);
  margin: 0;
  padding: 0px 45px 0px 0px;
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  text-align: left;
  height: 51px;
  line-height: 51px;
}
/* line 910, ../scss/screen.scss */
.choose-card__button i, .shipment-address_button i {
  display: inline-block;
  vertical-align: middle;
}
/* line 914, ../scss/screen.scss */
.choose-card__button:hover, .shipment-address_button:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f1f0f1+100 */
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f9f9f9 0%, #f1f0f1 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f9f9f9 0%, #f1f0f1 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f9f9f9 0%, #f1f0f1 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f1f0f1',GradientType=1 );
  /* IE6-9 */
}
/* line 922, ../scss/screen.scss */
.choose-card__button:hover, .shipment-address_button:hover, .choose-card__button:focus, .shipment-address_button:focus, .choose-card__button:active, .shipment-address_button:active, .choose-card__button:visited, .shipment-address_button:visited {
  text-decoration: none;
}

/* line 926, ../scss/screen.scss */
.edit-saved-card {
  padding-top: 15px;
  display: none;
}
/* line 929, ../scss/screen.scss */
.edit-saved-card span {
  display: block;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}
/* line 934, ../scss/screen.scss */
.edit-saved-card p {
  margin: 0px 0 5px 0;
  font-size: 12px;
}

/* line 939, ../scss/screen.scss */
.arrow-edit {
  position: absolute;
  right: 0px;
  top: 0;
  display: block;
  content: "";
  margin: 0;
  width: 45px;
  height: 40px;
  height: 100%;
  background-image: url("../images/arrow-edit.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 955, ../scss/screen.scss */
.shipment-address_button span {
  padding-left: 5px;
}

/*╨┐╨╡╤А╨╡╨┤╨╡╨╗╨░╤В╤М ╤З╤В╨╛ ╨▒╤Л margin ╨╜╨╡ ╨▓╨╗╨╕╤П╨╗ ╨╜╨░ ╤Б╨╝╨╡╤Й╨╡╨╜╨╕╨╡ ╨╕╨╝╨╡╨╜╨╕ ╨║╨░╤А╤В╨╛╤З╨║╨╕ */
/* line 960, ../scss/screen.scss */
.visa-ico-card {
  width: 50px;
  height: 15px;
  margin: 0 13px 0 0;
  position: relative;
  top: -2px;
  background-image: url("../images/icons.png");
  background-position: -233px 0px;
  background-repeat: no-repeat;
}

/* line 970, ../scss/screen.scss */
.masterCard-ico-card {
  width: 50px;
  height: 30px;
  position: relative;
  top: -1px;
  margin: 0 13px 0 0;
  background-image: url("../images/icons.png");
  background-position: -285px 0px;
  background-repeat: no-repeat;
}

/* line 980, ../scss/screen.scss */
.shipment-ico-card {
  width: 15px;
  height: 18px;
  position: relative;
  top: -1px;
  margin: 0 13px 0 0;
  background-image: url("../images/icons.png");
  background-position: -423px 0px;
  background-repeat: no-repeat;
}

/* line 990, ../scss/screen.scss */
.addNewCard-button, .addNewAddress-button {
  display: inline-block;
  padding: 7px 20px 7px 0;
  font-size: 14px;
  margin-top: 8px;
  color: #097fd2;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}
/* line 997, ../scss/screen.scss */
.addNewCard-button:hover, .addNewAddress-button:hover {
  color: #097fd2;
  opacity: 0.8;
}
/* line 1001, ../scss/screen.scss */
.addNewCard-button span, .addNewAddress-button span {
  font-size: 18px;
  line-height: 1;
  margin: 0 8px 0 1px;
  font-weight: bold;
}

/* line 1008, ../scss/screen.scss */
.credit-card-section {
  display: none;
  margin-top: 12px;
}

/* line 1012, ../scss/screen.scss */
.card-input-container {
  display: block;
}
/* line 1014, ../scss/screen.scss */
.card-input-container input {
  display: inline-block;
  width: 100%;
  box-shadow: none !important;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  height: 35px;
  font-size: 15px;
  margin: 0;
}
/* line 1023, ../scss/screen.scss */
.card-input-container input:focus {
  box-shadow: none !important;
}

/* line 1028, ../scss/screen.scss */
.credit-card-number {
  position: relative;
  display: block;
}
/* line 1031, ../scss/screen.scss */
.credit-card-number:after {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 12px;
  top: 15px;
  left: 9px;
  background-image: url("../images/icons.png");
  background-position: -337px 0px;
  background-repeat: no-repeat;
}

/* line 1044, ../scss/screen.scss */
.credit-card-number input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 4px 0 -1px 0;
  padding: 8px 5px 6px 27px;
  border-bottom: 1px solid transparent;
}

/* line 1051, ../scss/screen.scss */
.half-input {
  width: 50%;
  float: left;
  margin: 0;
  position: relative;
}
/* line 1056, ../scss/screen.scss */
.half-input input {
  border-radius: 0px;
  padding: 10px 5px 6px 27px;
}

/* line 1061, ../scss/screen.scss */
.half-input_left {
  z-index: 2;
}
/* line 1063, ../scss/screen.scss */
.half-input_left:after {
  display: block;
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 10px;
  left: 9px;
  background-image: url("../images/icons.png");
  background-position: -355px 0px;
  background-repeat: no-repeat;
}
/* line 1075, ../scss/screen.scss */
.half-input_left input {
  border-bottom-left-radius: 5px;
}

/* line 1079, ../scss/screen.scss */
.half-input_right {
  margin-left: -1px;
  width: calc(50% + 1px);
}
/* line 1082, ../scss/screen.scss */
.half-input_right:after {
  display: block;
  position: absolute;
  content: "";
  width: 12px;
  height: 13px;
  top: 10px;
  left: 9px;
  background-image: url("../images/icons.png");
  background-position: -371px 0px;
  background-repeat: no-repeat;
}
/* line 1094, ../scss/screen.scss */
.half-input_right input {
  border-bottom-right-radius: 5px;
  border-left: 1px solid transparent;
}

/* line 1099, ../scss/screen.scss */
.email-input {
  margin-top: 10px;
}
/* line 1101, ../scss/screen.scss */
.email-input input {
  padding: 8px 5px 6px 10px;
}

/* line 1105, ../scss/screen.scss */
.cardholder-name-input {
  margin-top: 50px;
}
/* line 1107, ../scss/screen.scss */
.cardholder-name-input input {
  padding: 8px 5px 6px 10px;
}

/* line 1111, ../scss/screen.scss */
.credit-card-section .error input {
  border: 1px solid red;
}

/* line 1115, ../scss/screen.scss */
.half-input_right.error {
  z-index: 10;
}

/* line 1118, ../scss/screen.scss */
.Valid-class input {
  border-color: #40db3e;
}

/* line 1121, ../scss/screen.scss */
.Invalid-class input {
  border-color: red;
}

/* line 1124, ../scss/screen.scss */
.button-save-card {
  display: none;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #c5c5c5;
}

/* line 1130, ../scss/screen.scss */
.valid-check {
  display: none;
}

/* line 1133, ../scss/screen.scss */
.control-label {
  margin: 21px 0 3px 0;
  letter-spacing: -0.2px;
  font-weight: normal !important;
  font-size: 15px;
  color: #868383;
  font-family: "HelveticaNeueCyr-Roman", Arial;
}

/* line 1141, ../scss/screen.scss */
.creditly-wrapper .form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

/* line 1145, ../scss/screen.scss */
.billing-address-name {
  height: 37px;
  line-height: 37px;
  font-size: 15px;
}

/* line 1150, ../scss/screen.scss */
.paypal-button {
  display: block;
  width: 100%;
  margin-top: 16px;
  height: 44px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  font-size: 15px;
  color: #474747;
  padding-right: 0px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  border-bottom: 3px solid #cbcbcb;
}
/* line 1163, ../scss/screen.scss */
.paypal-button:hover {
  border-bottom: 3px solid #cbcbcb;
}

/* line 1167, ../scss/screen.scss */
.paypal-button_icon {
  display: inline-block;
  width: 64px;
  height: 18px;
  vertical-align: middle;
  background-image: url("../images/icons.png");
  background-position: -100px -18px;
  margin-left: 7px;
  background-repeat: no-repeat;
}

/* line 1177, ../scss/screen.scss */
.payment-continue {
  display: none;
}

/* ╨║╨╜╨╛╨┐╨║╨░ ╨▓ ╤Д╤Г╤В╨╡╤А╨╡*/
/* line 1181, ../scss/screen.scss */
.button-save-card-InFooter {
  display: none;
}

/* ╨║╨╜╨╛╨┐╨║╨░ ╨▓ ╤Д╨╛╤А╨╝╨╡ */
/*╤Б╤В╨╕╨╗╨╕ paypal ╨▓╨║╨╗╨░╨┤╨║╨╕*/
/*╤Б╤В╨╕╨╗╨╕ erip ╨▓╨║╨╗╨░╨┤╨║╨╕*/
/* line 1195, ../scss/screen.scss */
.erip-input-container {
  position: relative;
  padding-top: 1px;
  margin-top: 16px;
}
/* line 1199, ../scss/screen.scss */
.erip-input-container:after {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../images/icons.png");
  background-position: -485px -20px;
  background-repeat: no-repeat;
}

/* line 1212, ../scss/screen.scss */
.erip-input {
  display: block;
  width: 100%;
  font-size: 15px;
  margin: 0px 0 0 0;
  height: 36px;
  line-height: 36px;
  padding: 2px 0 0 38px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #cbcbcb;
}

/* ╤И╨░╨│ ╨┤╨╛╤Б╤В╨░╨▓╨║╨╕ */
/* line 1230, ../scss/screen.scss */
.step-shipment {
  display: none;
}

/* line 1233, ../scss/screen.scss */
.location-icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  margin: 0 0px 0 0;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: -2px;
}

/* line 1244, ../scss/screen.scss */
.shipment-address_button:focus, .shipment-address_button:active, .choose-card__button:focus, .shipment-address_button:focus, .choose-card__button:active, .shipment-address_button:active {
  outline: none;
  color: #474747;
}
/* line 1248, ../scss/screen.scss */
.shipment-address_button:hover, .choose-card__button:hover, .shipment-address_button:hover {
  color: #474747;
}

/* line 1253, ../scss/screen.scss */
.step-shipment .shipment-address_button {
  margin-top: 0px;
  width: calc(100% + 19px);
  height: 59px;
  height: auto;
  border-top: none;
}
/* line 1259, ../scss/screen.scss */
.step-shipment .shipment-address_button img {
  margin: 0;
}
/* line 1262, ../scss/screen.scss */
.step-shipment .shipment-address_button span {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  line-height: 1.2;
  padding: 0 0px 0 10px;
  width: calc(100% - 30px);
}
/* line 1272, ../scss/screen.scss */
.step-shipment h3 {
  margin-top: 28px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  margin-bottom: 2px;
}
/* line 1277, ../scss/screen.scss */
.step-shipment .location-icon {
  vertical-align: middle;
  display: inline-block;
}

/* line 1283, ../scss/screen.scss */
.addNewAddress-button {
  margin-top: 12px;
}
/* line 1285, ../scss/screen.scss */
.addNewAddress-button:hover, .addNewAddress-button:focus, .addNewAddress-button:visited, .addNewAddress-button:active {
  text-decoration: none;
}

/* line 1290, ../scss/screen.scss */
.saved-locations {
  display: none;
  display: block;
}

/* line 1294, ../scss/screen.scss */
.new-address {
  display: none;
}
/* line 1296, ../scss/screen.scss */
.new-address h3 {
  margin-top: 5px;
}
/* line 1298, ../scss/screen.scss */
.new-address h3:first-child {
  margin-top: 25px;
}
/* line 1302, ../scss/screen.scss */
.new-address input {
  margin-top: 10px;
}

/* line 1306, ../scss/screen.scss */
.backToSavedLocations {
  display: none;
}

/* line 1309, ../scss/screen.scss */
.edit-shipment-address {
  display: none;
  width: 100%;
  padding: 5px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 1315, ../scss/screen.scss */
.edit-shipment-address span {
  display: inline-block;
  margin: 15px 0 0 0;
  width: 100%;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 1322, ../scss/screen.scss */
span.address-span {
  display: inline-block;
  width: auto;
  margin: 10px 0 0 0;
  font-family: "HelveticaNeueCyr-Roman", Arial;
}

/* line 1328, ../scss/screen.scss */
span.delete-address-span {
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #46b4e4;
  letter-spacing: 0.5px;
  text-align: right;
  font-family: "HelveticaNeueCyr-Roman", Arial;
}
/* line 1336, ../scss/screen.scss */
span.delete-address-span:hover {
  cursor: pointer;
  color: deepskyblue;
}

/* line 1341, ../scss/screen.scss */
.new-address-input {
  margin-top: 18px;
}

/* line 1344, ../scss/screen.scss */
.new-address-label {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  font-weight: normal;
  margin: 20px 0 0 0;
  line-height: 20px;
  color: #474747;
  font-size: 16px;
  left: 20px;
  vertical-align: middle;
}

/* line 1354, ../scss/screen.scss */
.new-address-label input {
  display: none;
}

/* line 1357, ../scss/screen.scss */
.new-address-label span {
  height: 19px;
  width: 19px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  display: inline-block;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 1px #ddd;
}
/* line 1366, ../scss/screen.scss */
.new-address-label span:hover {
  border-color: #5caef9;
  cursor: pointer;
}

/* line 1371, ../scss/screen.scss */
.new-address-input:checked + span {
  background-color: #41a2fa;
  box-shadow: none;
  box-shadow: inset 0 1px 1px #41a2fa;
  border-color: #5caef9;
}
/* line 1376, ../scss/screen.scss */
.new-address-input:checked + span:hover {
  background-color: #62b2fb;
  box-shadow: inset 0 3px 1px #41a2fa;
}

/* line 1381, ../scss/screen.scss */
.new-address-input:checked + span:before {
  content: '\2714';
  position: absolute;
  font-size: 14px;
  color: #fff;
  top: -1px;
  left: 3px;
}

/* line 1389, ../scss/screen.scss */
.not-enough-money {
  display: none;
  color: red;
  margin-top: 10px;
  letter-spacing: 0.4px;
}

/* line 1395, ../scss/screen.scss */
.not-enough-money.on {
  display: block;
}

/* ╤И╨░╨│ ╤Д╨╕╨╜╨░╨╗╤М╨╜╤Л╨╣ ╤И╨░╨│ */
/* line 1402, ../scss/screen.scss */
.step-finalCheck {
  display: none;
}
/* line 1404, ../scss/screen.scss */
.step-finalCheck a:hover, .step-finalCheck a:focus, .step-finalCheck a:visited, .step-finalCheck a:active {
  color: #474747;
}

/* line 1408, ../scss/screen.scss */
.shipment-address_title {
  margin-top: 25px;
}

/* line 1411, ../scss/screen.scss */
.step-finalCheck.on {
  display: block;
}

/* line 1414, ../scss/screen.scss */
.special-underline-border {
  border-top: 1px solid #e3e3e3;
}

/* line 1418, ../scss/screen.scss */
.clickToPay_button {
  display: block;
}

/* line 1422, ../scss/screen.scss */
.clickToPay_button, .clickToPay_button:hover {
  color: #fff;
  text-shadow: 1px -1px  1px #3b99f0;
  border-color: #4ea8fb;
  border-bottom-color: #2c94f5;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ea8fb+0,2c94f5+100 */
  background: #4ea8fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4ea8fb 0%, #2c94f5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4ea8fb 0%, #2c94f5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4ea8fb 0%, #2c94f5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea8fb', endColorstr='#2c94f5',GradientType=0 );
  /* IE6-9 */
}

/* line 1438, ../scss/screen.scss */
.payment-success {
  display: none;
  vertical-align: 37px;
  letter-spacing: 0.5px;
}

/* line 1446, ../scss/screen.scss */
.payment-success, .payment-success:hover {
  color: #fff;
  text-shadow: 1px -1px  1px #20b119;
  border-color: #45e548;
  border-bottom-color: #37c72c;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45e548+0,37c72c+100 */
  background: #45e548;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45e548 0%, #37c72c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45e548 0%, #37c72c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #45e548 0%, #37c72c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45e548', endColorstr='#37c72c',GradientType=0 );
  /* IE6-9 */
}

/* line 1458, ../scss/screen.scss */
.icon-success {
  display: inline-block;
  width: 17px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  left: 0px;
  height: 13px;
  background-image: url("../images/icons.png");
  background-position: -447px 0px;
  background-repeat: no-repeat;
}

/* line 1473, ../scss/screen.scss */
a, a:focus, a:hover, a:active, a.active {
  outline: none;
}

/* ╨╖╨░╨┐╤А╨╡╤В╨╕╤В╤М ╨▓╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╨╡╤А╨╕╨┐ ╨╕ ╨┐╨░╨╣╨┐╨░╨╗ */
/* line 1478, ../scss/screen.scss */
.select-none {
  user-select: none;
}

/* line 1482, ../scss/screen.scss */
::-webkit-input-placeholder {
  color: #c2c2c2 !important;
}

/* line 1485, ../scss/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #c2c2c2 !important;
}

/* line 1488, ../scss/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #c2c2c2 !important;
}

/* line 1491, ../scss/screen.scss */
:-ms-input-placeholder {
  color: #c2c2c2 !important;
}
