@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
/*colors*/
/* line 24, ../sass/screen.scss */
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* line 28, ../sass/screen.scss */
body {
  font-family: "HelveticaNeueCyr-Roman", Arial;
  font-size: 12px;
  background-color: #e6e6e6;
  color: #474747;
}

/* line 36, ../sass/screen.scss */
button:focus, button:hover, button:active, button:visited, input[type="submit"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:visited, input:focus, input:hover, input:active, input:visited {
  outline: none !important;
}

/* line 41, ../sass/screen.scss */
h1, h2 {
  font-size: 18px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
}

/* line 45, ../sass/screen.scss */
h3 {
  font-size: 15px;
  letter-spacing: 0.2px;
}

/* line 50, ../sass/screen.scss */
.Main-container {
  display: block;
  margin: 0 auto;
}

/* line 55, ../sass/screen.scss */
#myModal {
  position: relative;
  text-align: center;
}

/* line 60, ../sass/screen.scss */
.watermark {
  display: block;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

/* line 66, ../sass/screen.scss */
.card-container {
  display: block;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 10%;
  max-width: 300px;
  min-height: 500px;
  border-radius: 5px;
}

/* line 81, ../sass/screen.scss */
.modal-header, .modal-body, .modal-footer {
  padding-left: 19px;
  padding-right: 19px;
}

/* line 85, ../sass/screen.scss */
.modal-header {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #d7d7d7;
}

/* line 90, ../sass/screen.scss */
.modal-body {
  padding-bottom: 20px;
}

/* line 93, ../sass/screen.scss */
.modal-content {
  background-color: #f9f9f9;
  position: relative;
  margin: 0 auto;
  min-height: 465px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

/* line 104, ../sass/screen.scss */
.modal-header {
  position: relative;
  background-color: #ebebeb;
}

/* line 108, ../sass/screen.scss */
.modal-header__container {
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 #999;
}

/* line 121, ../sass/screen.scss */
.modal-header__img {
  display: inline-block;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  margin-top: 2px;
  /* ╨┤╨╕╨╖╨░╨╣╨╜ */
}

/* line 129, ../sass/screen.scss */
.without-img {
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: none;
  top: 15px;
  color: #868383;
  letter-spacing: 0.5px;
  font-size: 14px;
}
/* line 130, ../sass/screen.scss */
.without-img img {
  display: none;
}
/* line 144, ../sass/screen.scss */
.without-img:after {
  position: absolute;
  width: 50px;
  height: 1px;
  margin: 0 auto;
  left: 50%;
  margin-left: -25px;
  display: block;
  top: 35px;
  background-color: #999;
  content: "";
}

/* line 158, ../sass/screen.scss */
.modal-title {
  margin-top: 47px;
  font-family: "HelveticaNeueCyr-Medium", Arial;
  font-size: 18px;
  display: block;
  position: relative;
  text-align: center;
}

/* line 166, ../sass/screen.scss */
.modal-button {
  display: block;
  width: 100%;
  height: 37px;
  text-align: left;
  border-radius: 5px;
}

/* line 173, ../sass/screen.scss */
.gradient-bg {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(0%, #fff), color-stop(0%, white), color-stop(100%, #f5f6f5));
  background: -webkit-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -o-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: -ms-linear-gradient(top, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  background: linear-gradient(to bottom, white 0%, #fff 0%, white 0%, #f5f6f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f6f5', GradientType=0 );
}
/* line 184, ../sass/screen.scss */
.gradient-bg:hover {
  border: 1px solid #cbcbcb;
  border-bottom: 2px solid #cbcbcb;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -o-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
}
/* line 196, ../sass/screen.scss */
.gradient-bg:focus {
  box-shadow: 0 0 2px 1px #d3d3d3;
}

/* line 202, ../sass/screen.scss */
.modal-hint span {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
  position: relative;
  top: -3px;
  background: url(../images/icons.png) -67px 0px no-repeat;
}
/* line 210, ../sass/screen.scss */
.modal-hint span:hover {
  cursor: pointer;
}

/* line 214, ../sass/screen.scss */
.hint-container__text {
  display: none;
  margin: 20px 0;
}

/* line 219, ../sass/screen.scss */
.hint-container__text.on {
  display: block;
}

/* line 222, ../sass/screen.scss */
.hint-container {
  position: relative;
}

/* line 225, ../sass/screen.scss */
.hint-container__text {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 105%;
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #444;
  width: 100%;
  z-index: 5;
}
/* line 239, ../sass/screen.scss */
.hint-container__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* line 257, ../sass/screen.scss */
.modal-header .close {
  margin-top: 0px;
  margin-right: -7px;
}

/* line 261, ../sass/screen.scss */
.close {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

/* line 267, ../sass/screen.scss */
.close:before {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(-45deg);
  background-color: black;
}

/* line 278, ../sass/screen.scss */
.close:after {
  position: absolute;
  content: '';
  width: 16px;
  display: block;
  top: 10px;
  left: 5px;
  height: 2px;
  transform: rotate(45deg);
  background-color: black;
}

/* line 289, ../sass/screen.scss */
.step-back {
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 2px;
  width: 7px;
  height: 12px;
  padding: 10px;
  background: url(../images/icons.png) -466px 4px no-repeat;
}
/* line 299, ../sass/screen.scss */
.step-back:hover {
  cursor: pointer;
}

/* line 303, ../sass/screen.scss */
.submit-button {
  display: block;
  width: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  height: 37px;
  font-size: 15px;
  color: #474747;
  font-family: "HelveticaNeueCyr-Roman", Arial;
  border-bottom: 2px solid #cbcbcb;
}

/* line 314, ../sass/screen.scss */
.send-container {
  position: relative;
}

/* line 318, ../sass/screen.scss */
.send-container.sending input {
  padding-left: 35px;
}
/* line 321, ../sass/screen.scss */
.send-container.sending:after {
  position: absolute;
  content: '';
  left: 80px;
  top: 9px;
  width: 20px;
  height: 20px;
  background: url(../images/loading-gif.gif) no-repeat;
}

/* line 331, ../sass/screen.scss */
.load {
  width: 20px;
  height: 20px;
}

/* line 335, ../sass/screen.scss */
.sending {
  margin-top: 2px;
  text-align: center;
  padding-left: 0;
}

/* line 340, ../sass/screen.scss */
.icon-button.sending {
  padding-left: 0;
}
/* line 342, ../sass/screen.scss */
.icon-button.sending img {
  margin-right: 8px;
}

/*╤Б╤В╨╕╨╗╨╕ ╨▓╤Л╨▒╨╛╤А╨░ ╨╝╨╡╤В╨╛╨┤╨░ ╨╛╨┐╨╗╨░╤В╤Л*/
/* line 349, ../sass/screen.scss */
.step-choose-method {
  display: none;
}

/* line 352, ../sass/screen.scss */
.step-choose-method.on {
  display: block;
}

/* ╨▓╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П , ╨┤╨╡╨░╨║╤В╨╕╨▓╨░╤Ж╨╕╤П*/
/* line 356, ../sass/screen.scss */
.modal-header {
  padding-bottom: 13px;
}

/* line 359, ../sass/screen.scss */
.modal-title.step-choose-method {
  margin: 50px 0 0 -2px;
}

/* line 362, ../sass/screen.scss */
.step-choose-method h3 {
  margin: 8px 0 5px -1px;
}

/* line 365, ../sass/screen.scss */
.step-choose-method .modal-button {
  margin-top: 23px;
}

/* line 370, ../sass/screen.scss */
.step-choose-method .signup-button {
  margin: 23px 0 0px 0;
}

/* line 373, ../sass/screen.scss */
.signup-button {
  position: relative;
}
/* line 375, ../sass/screen.scss */
.signup-button:before {
  top: 9px;
  left: 12px;
  background: url(../images/icons.png) 0px 0px no-repeat;
  width: 10px;
  height: 16px;
}

/* line 383, ../sass/screen.scss */
.gray-line {
  display: block;
  width: calc(100% + 7.3%);
  position: relative;
  margin: 20px 0 23px 0;
  height: 1px;
  background-color: #e3e3e3;
}

/* line 391, ../sass/screen.scss */
.icon-button {
  padding: 1px 0 0 34px;
  font-size: 15px;
}

/* line 395, ../sass/screen.scss */
.signup-button, .messenger-button span, .telegram-button span, .skype-button span {
  position: relative;
}
/* line 397, ../sass/screen.scss */
.signup-button:before, .signup-button span:before, .messenger-button span:before, .messenger-button span span:before, .telegram-button span:before, .telegram-button span span:before, .skype-button span:before, .skype-button span span:before {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  left: 12px;
}

/* line 405, ../sass/screen.scss */
.messenger-button, .telegram-button, .skype-button {
  width: 100%;
  color: #fff;
  height: 36px;
  text-align: center;
  letter-spacing: -0.3px;
  border: none;
  padding: 0 0 0 5px;
  box-shadow: 0 0 1px 1px #ccc;
}
/* line 417, ../sass/screen.scss */
.messenger-button:hover, .telegram-button:hover, .skype-button:hover {
  box-shadow: 0 0 1px 2px #aaa;
}

/* line 421, ../sass/screen.scss */
.messenger-button {
  background-color: #0084ff;
}
/* line 423, ../sass/screen.scss */
.messenger-button span {
  position: relative;
}
/* line 425, ../sass/screen.scss */
.messenger-button span:before {
  width: 18px;
  height: 20px;
  top: -1px;
  left: -22px;
  background: url(../images/icons.png) -12px 0px no-repeat;
}

/* line 434, ../sass/screen.scss */
.step-choose-method .telegram-button {
  margin-top: 5px;
}

/* line 437, ../sass/screen.scss */
.telegram-button {
  background-color: #46b4e4;
}
/* line 440, ../sass/screen.scss */
.telegram-button span {
  position: relative;
}
/* line 442, ../sass/screen.scss */
.telegram-button span:before {
  left: -18px;
  top: 0px;
  width: 15px;
  height: 14px;
  background: url(../images/icons.png) -50px 0px no-repeat;
}

/* line 451, ../sass/screen.scss */
.step-choose-method .skype-button {
  margin-top: 10px;
}

/* line 454, ../sass/screen.scss */
.skype-button {
  background-color: #00aeed;
}
/* line 457, ../sass/screen.scss */
.skype-button span {
  position: relative;
}
/* line 459, ../sass/screen.scss */
.skype-button span:before {
  left: -20px;
  top: 0px;
  width: 16px;
  height: 16px;
  background: url(../images/icons.png) -32px 0px no-repeat;
}

/* line 472, ../sass/screen.scss */
.step-choose-method p {
  margin: 10px 0 0 0;
  font-size: 12px;
}
/* line 477, ../sass/screen.scss */
.step-choose-method .account-icon i {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  height: 20px;
  background: url(../images/icon-man.png) 0px 0px no-repeat;
  border-radius: 50%;
}
/* line 485, ../sass/screen.scss */
.step-choose-method .account-icon span {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
}
/* line 490, ../sass/screen.scss */
.step-choose-method .account-icon a {
  display: inline-block;
  vertical-align: top;
  line-height: 1.7;
  margin-left: 10px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #969696;
}

/* ╤Б╤В╨╕╨╗╨╕ ╨░╨▓╤В╨╛╤А╨╕╨╖╨░╤Ж╨╕╨╕ */
/* line 504, ../sass/screen.scss */
.step-authorization {
  margin-bottom: 3px;
  display: none;
}

/* line 508, ../sass/screen.scss */
.step-authorization.on {
  display: block;
}

/* line 511, ../sass/screen.scss */
.phone-number-form {
  margin-top: 5px;
}

/* line 514, ../sass/screen.scss */
.phone-input-container {
  position: relative;
}

/* line 518, ../sass/screen.scss */
.phone-number-input {
  padding: 0 10px 0 8px;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: block;
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
}
/* line 528, ../sass/screen.scss */
.phone-number-input:focus, .phone-number-input:active {
  outline: none;
  box-shadow: 0 0 2px 1px #b3e4f6;
  border: 1px solid #27baf0;
}
/* line 533, ../sass/screen.scss */
.phone-number-input:hover {
  border: 1px solid #27baf0;
}

/* line 537, ../sass/screen.scss */
.intl-tel-input .country-list {
  max-width: 250px;
}

/* line 540, ../sass/screen.scss */
.intl-tel-input.allow-dropdown {
  width: 100%;
}

/* line 543, ../sass/screen.scss */
.phone-number-input:focus:invalid {
  border: 1px solid #fd1f39;
  color: black;
}

/* line 551, ../sass/screen.scss */
input[type="tel"]:valid {
  position: relative;
  background-color: #e5f7fd;
  background-image: url(../images/ok-blue.png);
  background-repeat: no-repeat;
  background-position: 230px 11px;
}

/* line 561, ../sass/screen.scss */
.phone-helper {
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 36px;
  width: 100px;
  top: 0;
  left: 0;
}
/* line 571, ../sass/screen.scss */
.phone-helper select {
  display: inline-block;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: #cbcbcb;
  border-right: none;
  margin: 0;
  height: 36px;
  position: relative;
  padding: 1px 0 0 30px;
  font-size: 15px;
}
/* line 583, ../sass/screen.scss */
.phone-helper select:focus, .phone-helper select:active {
  outline: none;
}
/* line 588, ../sass/screen.scss */
.phone-helper option {
  padding-left: 50px;
  position: relative;
  font-size: 14px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 598, ../sass/screen.scss */
.step-authorization-submit {
  margin-top: 10px;
  line-height: 35px;
}

/* line 602, ../sass/screen.scss */
.step-authorization p {
  margin: 5px 0 0 0;
  font-size: 14px;
}
/* line 605, ../sass/screen.scss */
.step-authorization p a {
  font-size: 15px;
  color: #097fd2;
  text-decoration: underline;
}

/*╨▓╨▓╨╛╨┤ ╤Б╨╝╤Б ╨║╨╛╨┤╨░*/
/* line 615, ../sass/screen.scss */
.enter-sms-code p {
  margin-top: 12px;
  letter-spacing: 0.3px;
  line-height: 1.3;
}
/* line 620, ../sass/screen.scss */
.enter-sms-code img {
  margin: 0 10px 0 4px;
  position: relative;
  top: -2px;
}
/* line 625, ../sass/screen.scss */
.enter-sms-code .dont-get-code {
  margin-top: 23px;
}
/* line 628, ../sass/screen.scss */
.enter-sms-code a {
  margin-left: 2px;
}
/* line 631, ../sass/screen.scss */
.enter-sms-code .sending-process {
  margin-top: 23px;
}

/* line 635, ../sass/screen.scss */
.sms-code-input {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 36px;
  border: 1px solid #cbcbcb;
  padding: 0 10px;
  margin: 10px 0 0 0;
  letter-spacing: 0.6px;
  font-size: 14px;
}

/* ╤Б╤В╨╕╨╗╨╕ ╤Д╤Г╤В╨╡╤А╨░ */
/* line 649, ../sass/screen.scss */
.modal-footer {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 656, ../sass/screen.scss */
.modal-footer button {
  text-align: center;
  padding: 0;
}

/*  ╤Б╤В╨╕╨╗╨╕ ╤И╨░╨│╨░ payment*/
/* line 664, ../sass/screen.scss */
.step-payment {
  display: none;
}

/* line 667, ../sass/screen.scss */
.step-payment.on {
  display: block;
}

/* line 670, ../sass/screen.scss */
h2.step-payment {
  margin: 50px auto 8px auto;
}

/* line 674, ../sass/screen.scss */
.phone-number {
  max-width: 170px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  z-index: 3;
  bottom: -16px;
  right: auto;
  padding: 3px 10px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #cbcbcb;
}
